<h1>Tutorial de Markdown</h1>

<h3 style="color:gray">Markdown:</h3>
<p>Es una forma sencilla de dar otro aspecto a tus textos utilizando lenguaje de texto plano. Es decir, que con sencillos símbolos de texto plano, podremos definir un texto en negrita, en cursiva, como encabezado, crear un enlace, etc. Sin necesidad de utilizar un editor de texto más complejo.</p>
<h3 style="color:gray">Sintaxis:</h3>

> <p>## Título</p>
> <p>### Subtítulo</p>
> <p>Este es un ejemplo de texto que da entrada a una lista genérica de elementos:</p>
> <br>
> <p>- Elemento 1</p>
> <p>- Elemento 2</p>
> <p>- Elemento 3</p>
> <br>
> <p>Este es un ejemplo de texto que da entrada a una lista numerada:</p>
> <br>
> <p>1. Elemento 1</p>
> <p>2. Elemento 2</p>
> <p>3. Elemento 3</p>
<p>Corresponde a</p>

## Título
### Subtítulo
Este es un ejemplo de texto que da entrada a una lista genérica de elementos:

- Elemento 1
- Elemento 2
- Elemento 3

Este es un ejemplo de texto que da entrada a una lista numerada:

1. Elemento 1
2. Elemento 2
3. Elemento 3

<hr>
<h2 style="color:#30B2FA">Definiciones</h2>

#### Markdown
> <p>Herramienta de conversión de texto plano a HTML.
> <p>Lenguaje de marcado que facilita la escritura de documentos y artículos web.</p>

#### Multimarkdown
> <p>Lenguaje de marcado que añade características a las carencias de su hermano Markdown (tablas, notas al pie de página, listas de definiciones como esta…)</p>

<hr>
<h2 style="color:#30B2FA">Elementos de bloque</h2>

<ul>
  <li>Elementos de bloque
  	<ul>
        <li>Párrafos y saltos de línea</li>
        <li>Encabezados</li>
        <li>Citas</li>
        <li>Listas</li>
        <li>Códigos de bloque</li>
        <li>Reglas horizontales</li>
  	</ul>
  </li>
  <li>Elementos de línea
  	<ul>
        <li>Énfasis</li>
        <li>Links o enlaces</li>
        <li>Código</li>
        <li>Imágenes</li>
  	</ul>
  </li>
</ul>

<h2 style="color:#30B2FA">Párrafos y saltos de línea</h2>

> <p>Para generar un nuevo párrafo en Markdown simplemente separa el texto mediante una línea en blanco (pulsando dos veces enter).</p>
> <p>Para realizar un salto de línea y empezar una frase en una línea siguiente dentro del mismo párrafo, tendrás que pulsar dos veces la barra espaciadora antes de pulsar una vez enter.</p>
<hr>

<h2 style="color:#30B2FA">Encabezados</h2>
<p>Las `#` almohadillas son uno de los métodos utilizados en Markdown para crear encabezados. Debemos usarlos añadiendo uno por cada nivel.</p>

> <li># Encabezado 1</li>
> <li>## Encabezado 2</li>
> <li>### Encabezado 3</li>
> <li>#### Encabezado 4</li>
> <li>##### Encabezado 5</li>
> <li>###### Encabezado 6</li>
<p>Se corresponde con:</p>

# Encabezado 1
## Encabezado 2
### Encabezado 3
#### Encabezado 4
##### Encabezado 5
###### Encabezado 6

<p>Existe otra manera de generar encabezados, aunque este método está limitado a dos niveles.</p>

<p>Consiste en subrayar los encabezados con el símbolo = (para el encabezado 1), o con guiones - para el encabezado 2.</p>

Esto sería un encabezado 1
===
 Esto sería un encabezado 2

<hr>
<h2 style="color:#30B2FA">Citas</h2>
<p>Las citas se generar utilizando el carácter mayor que `>` al comienzo del bloque de texto.</p>
<p>> La naturaleza nos ha dado las semillas del conocimiento, no el conocimiento mismo..  — Séneca</p>

> La naturaleza nos ha dado las semillas del conocimiento, no el conocimiento mismo..  — Séneca

<p>Incluso puedes concatenar varios `>>` para crear citas anidadas.</p>
<p> \> Esto sería una cita como la que acabas de ver.</p>
<p> \> \> Dentro de ella puedes anidar otra cita.</p>
<p> \> La cita principal llegaría hasta aquí. </p>

> Esto sería una cita como la que acabas de ver.
> 
> > Dentro de ella puedes anidar otra cita.
> 
> La cita principal llegaría hasta aquí.

<hr>
<h2 style="color:#30B2FA">Listas</h2>
<p>A diferencia de lo que ocurre en HTML, generar listas en Markdown es tremendamente sencillo. Podemos encontrarnos con 2 tipos.</p>
*<h3>Listas desordenadas</h3>*

<p>Para crear listas desordenadas utiliza * asteriscos, - guiones, o + símbolo de suma.</p>
>No importa qué elemento incluyas, incluso puedes intercambiarlos. Todos se verán igual al procesarse.

- Elemento de lista 1
- Elemento de lista 2
* Elemento de lista 3
* Elemento de lista 4
+ Elemento de lista 5
+ Elemento de lista 6

- Elemento de lista 1
- Elemento de lista 2
* Elemento de lista 3
* Elemento de lista 4
+ Elemento de lista 5
+ Elemento de lista 6

<p>Para listas anidadas dentro de otras, simplemente tendremos que añadir **cuatro espacios en blanco antes del siguiente *, - o +.</p>

 - Elemento de lista 2
    - Elemento de lista 3
    - Elemento de lista 4
        - Elemento de lista 5
        - Elemento de lista 6

- Elemento de lista 2
    - Elemento de lista 3
    - Elemento de lista 4
        - Elemento de lista 5
        - Elemento de lista 6

*<h3>Listas ordenadas</h3>*
<p>Para crear listas ordenadas debes utilizar la sintaxis de tipo: “número.” 1.. Al igual que ocurre con las listas desordenadas, también podrás anidarlas o combinarlas.</p>

1. Elemento de lista 1
2.  Elemento de lista 2
    - Elemento de lista 3
    - Elemento de lista 4
        1. Elemento de lista 5
        2. Elemento de lista 6

1. Elemento de lista 1
2.  Elemento de lista 2
    - Elemento de lista 3
    - Elemento de lista 4
        1. Elemento de lista 5
        2. Elemento de lista 6

<hr>
<h2 style="color:#30B2FA">Códigos de bloque</h2>
<p>Si queremos crear un bloque entero que contenga código. Lo único que tenemos que hacer es encerrar dicho párrafo entre dos líneas formadas por tres ~ virgulillas.</p>

<p>\~\~\~</p>
<p>Creando códigos de bloque.</p>
<p>Puedes añadir tantas líneas y párrafos como quieras.  </p>
<p>\~\~\~</p>

~~~
Creando códigos de bloque.
Puedes añadir tantas líneas y párrafos como quieras.  
~~~

<hr>
<h2 style="color:#30B2FA">Reglas horizontales</h2>

<p>Las reglas horizontales se utilizan para separar secciones de una manera visual.</p>

> <p>\*\*\*</p>
> <p>\-\-\-</p>
> <p>\_\_\_</p>
> <br>
> <p> \* &nbsp;\* &nbsp;\* </p>
> <p> \- &nbsp;\- &nbsp;\- </p>
> <p> \_ &nbsp;\_ &nbsp;\_ </p>

<hr>
<h2 style="color:#30B2FA">Elementos de línea</h2>
*<h3>Énfasis (negritas y cursivas)</h3>*
<p>Markdown utiliza asteriscos o guiones bajos para enfatizar.</p>

| MARKDOWN	 | RESULTADO |
| -- | -- | -- |
| \*cursiva\* | *cursiva* |
| \_cursiva\_ | _cursiva_	 |
| \*\*negrita\*\* | **negrita** |
| \_\_negrita\_\_ | __negrita__ |

<p>Por supuesto si quieremos utilizar los 2 tipos de énfasis no tienes más que combinar la sintaxis, envolviendo la palabra entre tres asteriscos o tres guiones bajos.</p>

| MARKDOWN	 | RESULTADO |
| -- | -- | -- |
| \*\*\*cursiva y negrita\*\*\*	| \*\*\*cursiva y negrita\*\*\*	 |
| \_\_\_cursiva y negrita\_\_\_ | \_\_\_cursiva y negrita\_\_\_	 |

<hr>
<h2 style="color:#30B2FA">Links o enlaces</h2>
<p>Añadir enlaces a una publicación, más que común, hoy en día es algo casi obligatorio. Con Markdown tendremos varias formas de hacerlo.</p>
*<h3>Links o enlaces en línea</h3>*
<p>Se crean escribiendo la palabra o texto enlazada entre [] corchetes, y el link en cuestión entre () paréntesis.</p>

| MARKDOWN	 | RESULTADO |
| -- | -- | -- |
| \[enlace en línea\]\(https://twl-pue.web.app/\)	 | [enlace en línea](http://www.limni.net)	 |

*<h3>Links o enlaces como referencia</h3>*
<p>La desventaja del método anterior, es que si utilizamos links demasiado complejos o largos pueden dificultarnos la lectura de nuestro texto.</p>

<p>Para solucionarlo y crear nuestro contenido de una manera más ordenada podemos generar enlaces de referencia.</p>

<p>Esto quiere decir que en nuestro texto enlazaremos palabras o códigos concretos (formados por letras y/o números), que en otro lugar más apartado de tu documento tendrás definidos como determinadas URL.</p>

>\[nombre de tu enlace\]\[nombre de tu referencia\]

>\[nombre de tu referencia\]\: https://twl-pue.web.app/

<hr>
<h2 style="color:#30B2FA">Código
</h2>
<p>En según que tipo de publicaciones, necesitaremos añadir pequeñas secciones donde mostrar código de otro lenguaje, atajos de teclado, o demás contenido que no debería ser tratado como tal.</p>

[nombre de tu enlace][nombre de tu referencia]

[nombre de tu referencia]: https://twl-pue.web.app/

*<h3>Código puro `<code>`</h3>*
<p>La forma más sencilla de escribir código en Markdown es envolver el texto entre dos comillas sencillas ```. Esto se corresponde con la etiqueta HTML `<code>`</p>

`Esto es una línea de código`

*<h3>Texto preformateado `<pre>`</h3>*
<p> La otra manera de añadir código en Markdown es comenzar el párrafo con cuatro espacios en blanco. Esto se corresponde con la etiqueta HTML `<pre>`</p>

Esto es una línea de código

<hr>
<h2 style="color:#30B2FA">Imágenes</h2>
<p>Insertar una imagen con Markdown se realiza de una manera prácticamente idéntica a insertar links.</p>
> \!\[Texto alternativo\]\(/ruta/a/la/imagen.jpg\)

![Texto alternativo](https://desdepuebla.com/wp-content/uploads/2020/05/downloadfile-24.jpg)

> \!\[Texto alternativo\]\(/ruta/a/la/imagen.jpg "Título alternativo"\)

![Texto alternativo](https://desdepuebla.com/wp-content/uploads/2020/05/downloadfile-24.jpg "BUAP")

<hr>
<h2 style="color:#30B2FA">Omitir Markdown</h2>
<p>Si has llegado hasta aquí es probable que te estés preguntando cómo he conseguido escribir ciertos símbolos como * asteriscos o _ guiones bajos, sin que Markdown los interprete para convertirlos en negritas, cursivas…</p>
<br>
<p>Se trata de la barra invertida `\` .</p>

Escribiéndola justo delante de cualquiera de los elementos que verás a continuación, los mismos no tendrán efecto a la hora de convertirse en negritas, cursivas, links…</p>

> <p> `\ ` barra invertida</p>
> <p> `` ` acento invertido</p>
> <p> `* ` asterisco</p>
> <p> `_ ` guión bajo</p>
> <p> `{}` llaves</p>
> <p> `[]` corchetes</p>
> <p> `()` paréntesis</p>
> <p> `# ` almohadilla</p>
> <p> `+ ` símbolo de suma</p>
> <p> `- ` guión</p>
> <p> `. ` punto</p>
> <p> `! ` exclamación<> /p>

### Referencias
- https://markdown.es/sintaxis-markdown/
- https://victorhckinthefreeworld.com/2019/09/23/tutorial-de-markdown-en-espanol/

<hr>
<h1 style="color:#30B2FA">Una introducción informal a Python </h1>

<p># este es el primer comentario</p>
<p> SPAM = 1 # y este es el segundo comentario</p>
<p>  # ... y ahora un tercero!</p>
<p> STRING = "# Este no es un comentario".</p>

<hr>
<h2 style="color:#30B2FA">Números</h2>
<p>El intérprete actúa como una simple calculadora; podés ingresar una expresión y este escribirá los valores. La sintaxis es
sencilla: los operadores +, -, * y / funcionan como en la mayoría de los lenguajes (por ejemplo, Pascal o C); los paréntesis
(()) pueden ser usados para agrupar. </p>

In [162]:
425+24

449

In [163]:
# Este es un comentario
432+32

464

In [164]:
(50-5*6)/4

5.0

In [165]:
9 / 3 # las fracciones no se pierden al dividir enteros

3.0

<p>Los números enteros (por ejemplo 4, 8, 40) son de tipo int, aquellos con una parte fraccional (por ejemplo 1.0, 4.2) son
de tipo float.</p>

In [166]:
17/3 # la división común retorna un punto flotante

5.666666666666667

In [167]:
17 // 3 # la división entera descarta la parte fraccional

5

In [168]:
17 % 3 # el operado % retorna el resto de la división

2

In [169]:
5 * 3 + 2 # resultado * divisor + resto

17

<p>Es posible usar el operador ** para calcular potencias 2:</h2>

In [170]:
5 ** 2 # 5 al cuadrado

25

In [171]:
2 ** 7 # 2 a la potencia de 7

128

<p>El signo igual (=) es usado para asignar un valor a una variable. Luego, ningún resultado es mostrado antes del próximo
prompt:</p>

In [172]:
ancho = 201
largo = 6*8
ancho * largo

9648

<p>Un valor puede ser asignado a varias variables simultáneamente:</p>

In [173]:
 x = y = z = 0 # Cero a x, y, y z

In [174]:
x

0

In [175]:
y

0

In [176]:
z

0

<p>Las variables deben estar "definidas" (con un valor dado) antes de que puedan usarse, o un error ocurrirá:
</p>

In [177]:
 4 * 4.85 / 2.5

7.76

In [178]:
14.0 / 3

4.666666666666667

<p>En el modo interactivo, la última expresión impresa es asignada a la variable _. </p>

In [179]:
impuesto = 16.4 / 110
precio = 110.30
precio * impuesto

16.44472727272727

In [180]:
 precio + _

126.74472727272726

In [181]:
round(_, 2)

126.74

<p>Los números complejos también están soportados; los números imaginarios son escritos con el sufijo de j o J.</p>

In [182]:
1j * 1J

(-1+0j)

In [183]:
1j * complex(0, 1)

(-1+0j)

In [184]:
3+1j*3

(3+3j)

In [185]:
 (3+1j)*3

(9+3j)

In [186]:
(1+2j)/(1+1j)

(1.5+0.5j)

<p>Los números complejos son siempre representados como dos números de punto flotante, la parte real y la imaginaria. Para
extraer estas partes desde un número complejo z, usá z.real y z.imag.</p>

In [187]:
a=6.2+0.2j
a.real

6.2

In [188]:
a.imag

0.2

<p>La función de conversión de los punto flotante y enteros (float() y int()) no funcionan para números complejos; no hay
una forma acertada de convertir un número complejo a un número real. Se debe ocupar abs(z) para obtener esta magnitud o z.real para obtener la parte real.</p>

In [189]:
a=3.0+4.0j
float(a)

TypeError: can't convert complex to float

In [190]:
a.real

3.0

In [191]:
a.imag

4.0

In [192]:
abs(a) # sqrt(a.real**2 + a.imag**2)

5.0

<hr>
<h2 style="color:#30B2FA">Cadenas de caracteres</h2>
<p>Puede manipular cadenas de texto, las cuales pueden ser expresadas de distintas formas.
Pueden estar encerradas en comillas simples o dobles:</p>

In [193]:
'cálculo y programación'

'cálculo y programación'

In [194]:
'doesn\'t'

"doesn't"

In [195]:
'"Si," se fue.'

'"Si," se fue.'

In [196]:
"\"Si,\" se fue."

'"Si," se fue.'

In [197]:
saludo = "Consentir que nos condecoren es reconocer al Estado\n\
o al principe el derecho de juzgarnos, ilustrarnos, etc.\n\
   Charles Baudelaire (1821-1867) Escritor, poeta y crítico francés.\
   2020."

In [198]:
print(saludo)

Consentir que nos condecoren es reconocer al Estado
o al principe el derecho de juzgarnos, ilustrarnos, etc.
   Charles Baudelaire (1821-1867) Escritor, poeta y crítico francés.   2020.

<p>O, las cadenas de texto pueden ser rodeadas en un par de comillas triples: """ o '''. No se necesita escapar los finales
de línea cuando se utilizan comillas triples, pero serán incluidos en la cadena. </p>

In [199]:
print("""\
Uso: algo [OPCIONES]
 -h Muestra el valor de uso
 -H valorost Nombre del host al cual conectarse
""")

Uso: algo [OPCIONES]
 -h Muestra el valor de uso
 -H valorost Nombre del host al cual conectarse

<p>Si se hace de la cadena de texto una cadena "cruda", la secuencia `\n` no es convertida a salto de línea, pero la barra
invertida al final de la línea y el carácter de nueva línea en la fuente, ambos son incluidos en la cadena como datos. </p>

In [200]:
hola = r"Cuando hayas de sentenciar procura olvidar a los litigantes\n\
y acordarte sólo de la causa."
print(hola)

Cuando hayas de sentenciar procura olvidar a los litigantes\n\
y acordarte sólo de la causa.

<p>Las cadenas de texto pueden ser concatenadas con el operador + y repetidas con *:
</p>

In [201]:
 palabra = 'SAMSUN' + 'G'

In [202]:
palabra

'SAMSUNG'

In [203]:
'<' + palabra*7 + '>'

'<SAMSUNGSAMSUNGSAMSUNGSAMSUNGSAMSUNGSAMSUNGSAMSUNG>'

In [204]:
'par' 'rafo' # <- Esto es correcto

'parrafo'

In [205]:
'par'.strip() + 'rafo' # <- Esto es correcto

'parrafo'

<p>Las cadenas de texto se pueden indexar; como en C++, el primer carácter de la cadena tiene el índice 0. No hay un tipo de
dato para los caracteres; un carácter es simplemente una cadena de longitud uno.</p>

In [206]:
 palabra[4]

'U'

In [207]:
palabra[0:2]

'SA'

In [208]:
 palabra[2:4]

'MS'

In [209]:
palabra[:2] # Los primeros dos caracteres

'SA'

In [210]:
 palabra[2:] # Todo menos los primeros dos caracteres

'MSUNG'

<p>Pero observa que -0 es en realidad lo mismo que 0, ¡por lo que no cuenta desde la derecha!</p>

In [211]:
 palabra[-0] # (ya que -0 es igual a 0)

'S'

<p>Los índices negativos fuera de rango son truncados, pero esto no funciona para índices de un solo elemento (no rebanada):
</p>

In [212]:
 palabra[-100:]

'SAMSUNG'

<p>Las cadenas de texto literales pueden contener múltiples líneas. Una forma es usar triple comillas: """...""" o
'''...'''. </p>

<p>La función incorporada len() devuelve la longitud de una cadena de texto:</p>

In [213]:
s = 'holacomoestas'
len(s)

13

<p>Dos o más cadenas literales (aquellas encerradas entre comillas) una al lado de la otra son automáticamente concatenadas:</p>

In [214]:
'Py' 'thon'

'Python'

<p>Para concatenar variables o una variable usa "+"</p>

In [215]:
prefix = 'Py'

In [216]:
prefix + 'thon'

'Python'

<p>Las cadenas de texto se pueden indexar (subíndices), el primer carácter de la cadena tiene el índice 0. No hay un tipo de
dato para los caracteres; un carácter es simplemente una cadena de longitud uno:</p>

In [217]:
palabra = 'Python'

In [218]:
palabra[0] # caracter en la posición 0

'P'

In [219]:
palabra[4] # caracter en la posición 4

'o'

<p>Los índices quizás sean números negativos, para empezar a contar desde la derecha:
</p>

In [220]:
palabra[-1] # último caracter

'n'

In [221]:
palabra[-2] # ante último caracter

'o'

<p>Además de los índices, las rebanadas también están soportadas. Mientras que los índices son usados para obtener
caracteres individuales, las rebanadas te permiten obtener sub-cadenas:</p>

In [222]:
palabra[0:2] # caracteres desde la posición 0 (incluída) hasta la 2 (excluída)

'Py'

In [223]:
palabra[2:5] # caracteres desde la posición 2 (incluída) hasta la 5 (excluída)

'tho'

<p>Nota como el primero es siempre incluído, y que el último es siempre excluído. Esto asegura que s[:i] + s[i:] siempre
sea igual a s:
</p>

In [224]:
palabra[:2] + palabra[2:]

'Python'

In [225]:
palabra[:4] + palabra[4:]

'Python'

<p>Los índices de las rebanadas tienen valores por defecto útiles; el valor por defecto para el primer índice es cero, el valor por
defecto para el segundo índice es la longitud de la cadena a rebanar.</p>

In [226]:
palabra[:2] # caracteres desde el principio hasta la posición 2 (excluída)

'Py'

<hr>
<h2 style="color:#30B2FA">Listas</h2>
<p>Python tiene varios tipos de datos compuestos, usados para agrupar otros valores. El más versátil es la lista, la cual puede
ser escrita como una lista de valores separados por coma (ítems) entre corchetes. No es necesario que los ítems de una
lista tengan todos el mismo tipo.
</p>

In [227]:
a = ['laptop', 'monitor', 145, 567463452]

In [228]:
a

['laptop', 'monitor', 145, 567463452]

In [229]:
a[0]

'laptop'

In [230]:
a[2]

145

In [231]:
a[-3]

'monitor'

In [232]:
a[1:-1]

['monitor', 145]

In [233]:
a[:2] + ['carne', 2*2]

['laptop', 'monitor', 'carne', 4]

In [234]:
 3*a[:3] + ['hola!']

['laptop',
 'monitor',
 145,
 'laptop',
 'monitor',
 145,
 'laptop',
 'monitor',
 145,
 'hola!']

<p>Todas las operaciones de rebanado devuelven una nueva lista conteniendo los elementos pedidos. Esto significa que la
siguiente rebanada devuelve una copia superficial de la lista a:</p>
</p>

In [235]:
a[:]

['laptop', 'monitor', 145, 567463452]

<p>A diferencia de las cadenas de texto, que son inmutables, es posible cambiar un elemento individual de una lista:
</p>

In [236]:
a

['laptop', 'monitor', 145, 567463452]

In [237]:
a[2] = a[2] + 56

In [238]:
a

['laptop', 'monitor', 201, 567463452]

In [239]:
# Reemplazar algunos elementos:
a[0:2] = [1, 12]

In [240]:
a

[1, 12, 201, 567463452]

In [241]:
# Borrar algunos:
a[0:2] = []

In [242]:
a

[201, 567463452]

In [243]:
 # Insertar algunos:
a[1:1] = ['comida', 'ctyda']

In [244]:
 # Insertar (una copia de) la misma lista al principio
a[:0] = a

In [245]:
a

[201, 'comida', 'ctyda', 567463452, 201, 'comida', 'ctyda', 567463452]

<p>La función predefinida len() también sirve para las listas:</p>

In [246]:
 a = ['a', 'b', 'c', 'd']

In [247]:
len(a)

4

<p>Es posible anidar listas, por ejemplo:
</p>

In [248]:
q = [2, 3]

In [249]:
p = [1, q, 4]

In [250]:
len(p)

3

In [251]:
p[1]

[2, 3]

In [252]:
p[1][0]

2

<p>Podemos agregar algo al final de la lista:
</p>

In [253]:
 p[1].append('extra')

In [254]:
p

[1, [2, 3, 'extra'], 4]

In [255]:
q

[2, 3, 'extra']

<hr>
<h2 style="color:#30B2FA">Primeros pasos hacia la programación </h2>
<p>Podemos escribir unasubsecuencia inicial de la serie de Fibonacci así:</p>

In [256]:
 # Series de Fibonacci:
 # la suma de dos elementos define el siguiente
 a, b = 0, 1

In [257]:
while b < 10:
  print(b)
  a, b = b, a+b

1
1
2
3
5
8

<p>Este ejemplo introduce varias características nuevas.</p>
* La primer línea contiene una asignación múltiple: las variables``a`` y b toman en forma simultanea los nuevos valores
0 y 1. En la última linea esto es vuelto a usar, demostrando que las expresiones a la derecha son evaluadas antes de
que suceda cualquier asignación.
* El bucle while se ejecuta mientras la condición (aquí: b < 10) sea verdadera. La condición también puede ser una cadena de texto o una lista,
de hecho cualquier secuencia. Los operadores estándar de comparación se
escriben igual que en C: < (menor qué), > (mayor qué), == (igual a), <= (menor o igual qué), >= (mayor o igual
qué) y != (distinto a).
* El cuerpo del bucle está sangrado: la sangría es la forma que usa Python para agrupar declaraciones. 
* La función print() escribe el valor de el o los argumentos que se le pasan.

In [258]:
i = 3231 * 53243

In [259]:
print('El valor de i es', i)

El valor de i es 172028133

<p>El parámetro nombrado `end` puede usarse para evitar el salto de linea al final de la salida, o terminar la salida con una
cadena diferente:</p>

In [260]:
 a, b = 0, 1

In [261]:
while b < 1000:
 print(b, end=',')
 a, b = b, a+b

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

<hr>
<h2 style="color:#30B2FA">Más herramientas para control de
flujo</h2>
<p>Además de la sentencia while que acabamos de introducir, Python soporta las sentencias de control de flujo que podemos
encontrar en otros lenguajes, con algunos cambios.
</p>
<h4>La sentencia if</h4>
<p>Tal vez el tipo más conocido de sentencia sea el if. Por ejemplo:</p>

In [262]:
 x = int(input("Ingresa un entero, por favor: "))

Ingresa un entero, por favor: 6

In [263]:
if x < 0:
  x = 0
  print('Negativo cambiado a cero')
elif x == 0:
   print('Cero')
elif x == 1:
  print('Simple')
else:
  print('Más')

Más

<hr>
<h2 style="color:#30B2FA">La sentencia for</h2>
<p>La sentencia for en Python difiere un poco de lo que uno puede estar acostumbrado en lenguajes como C o Pascal. En
lugar de siempre iterar sobre una progresión aritmética de números (como en Pascal) o darle al usuario la posibilidad de
definir tanto el paso de la iteración como la condición de fin (como en C), la sentencia for de Python itera sobre los ítems
de cualquier secuencia (una lista o una cadena de texto), en el orden que aparecen en la secuencia. </p>

In [264]:
# Midiendo cadenas de texto
palabras = ['michi', 'monitor', 'graduado']

In [265]:
for p in palabras:
   print(p, len(p))

michi 5
monitor 7
graduado 8

<p>Si necesitamos modificar la secuencia sobre la que estamos iterando mientras estás adentro del ciclo, se recomienda que hagas primero una copia. Iterar sobre una secuencia no hace implícitamente una copia.</p>

In [266]:
for p in palabras[:]: # hace una copia por rebanada de toda la lista
  if len(p) > 6:
    palabras.insert(0, p)

In [267]:
palabras

['graduado', 'monitor', 'michi', 'monitor', 'graduado']

<hr>
<h2 style="color:#30B2FA">La función range()
</h2>
<p>Si se necesita iterar sobre una secuencia de números, es apropiado utilizar la función integrada range(), la cual genera
progresiones aritméticas:</p>

In [268]:
for i in range(5):
 print(i)

0
1
2
3
4

<p>Para iterar sobre los índices de una secuencia, podés combinar range() y len() así:</p>

In [269]:
a = ['Lizbeth', 'tenia', 'un', 'chaleco']
for i in range(len(a)):
 print(i, a[i])

0 Lizbeth
1 tenia
2 un
3 chaleco

<p>En la mayoría de los casos, sin embargo, conviene usar la función enumerate().</p>

In [270]:
print(range(10))

range(0, 10)

<p>Decimos que tal objeto es iterable; esto es, que se lo puede usar en funciones y construcciones que esperan algo de lo cual
obtener ítems sucesivos hasta que se termine. Hemos visto que la declaración for es un iterador en ese sentido. La
función list() es otra; crea listas a partir de iterables:</p>

In [271]:
list(range(5))

[0, 1, 2, 3, 4]

<hr>
<h2 style="color:#30B2FA">Las sentencias break, continue, y else en lazos</p>

In [272]:
 for n in range(2, 1423):
  for x in range(2, n):
    if n % x == 0:
      print(n, 'es igual a', x, '*', n/x)
      break
  else:
    # sigue el bucle sin encontrar un factor
    print(n, 'es un numero primo')

2 es un numero primo
3 es un numero primo
4 es igual a 2 * 2.0
5 es un numero primo
6 es igual a 2 * 3.0
7 es un numero primo
8 es igual a 2 * 4.0
9 es igual a 3 * 3.0
10 es igual a 2 * 5.0
11 es un numero primo
12 es igual a 2 * 6.0
13 es un numero primo
14 es igual a 2 * 7.0
15 es igual a 3 * 5.0
16 es igual a 2 * 8.0
17 es un numero primo
18 es igual a 2 * 9.0
19 es un numero primo
20 es igual a 2 * 10.0
21 es igual a 3 * 7.0
22 es igual a 2 * 11.0
23 es un numero primo
24 es igual a 2 * 12.0
25 es igual a 5 * 5.0
26 es igual a 2 * 13.0
27 es igual a 3 * 9.0
28 es igual a 2 * 14.0
29 es un numero primo
30 es igual a 2 * 15.0
31 es un numero primo
32 es igual a 2 * 16.0
33 es igual a 3 * 11.0
34 es igual a 2 * 17.0
35 es igual a 5 * 7.0
36 es igual a 2 * 18.0
37 es un numero primo
38 es igual a 2 * 19.0
39 es igual a 3 * 13.0
40 es igual a 2 * 20.0
41 es un numero primo
42 es igual a 2 * 21.0
43 es un numero primo
44 es igual a 2 * 22.0
45 es igual a 3 * 15.0
46 es igual a 2 * 23.0
47 es un numero primo
48 es igual a 2 * 24.0
49 es igual a 7 * 7.0
50 es igual a 2 * 25.0
51 es igual a 3 * 17.0
52 es igual a 2 * 26.0
53 es un numero primo
54 es igual a 2 * 27.0
55 es igual a 5 * 11.0
56 es igual a 2 * 28.0
57 es igual a 3 * 19.0
58 es igual a 2 * 29.0
59 es un numero primo
60 es igual a 2 * 30.0
61 es un numero primo
62 es igual a 2 * 31.0
63 es igual a 3 * 21.0
64 es igual a 2 * 32.0
65 es igual a 5 * 13.0
66 es igual a 2 * 33.0
67 es un numero primo
68 es igual a 2 * 34.0
69 es igual a 3 * 23.0
70 es igual a 2 * 35.0
71 es un numero primo
72 es igual a 2 * 36.0
73 es un numero primo
74 es igual a 2 * 37.0
75 es igual a 3 * 25.0
76 es igual a 2 * 38.0
77 es igual a 7 * 11.0
78 es igual a 2 * 39.0
79 es un numero primo
80 es igual a 2 * 40.0
81 es igual a 3 * 27.0
82 es igual a 2 * 41.0
83 es un numero primo
84 es igual a 2 * 42.0
85 es igual a 5 * 17.0
86 es igual a 2 * 43.0
87 es igual a 3 * 29.0
88 es igual a 2 * 44.0
89 es un numero primo
90 es igual a 2 * 45.0
91 es igual a 7 * 13.0
92 es igual a 2 * 46.0
93 es igual a 3 * 31.0
94 es igual a 2 * 47.0
95 es igual a 5 * 19.0
96 es igual a 2 * 48.0
97 es un numero primo
98 es igual a 2 * 49.0
99 es igual a 3 * 33.0
100 es igual a 2 * 50.0
101 es un numero primo
102 es igual a 2 * 51.0
103 es un numero primo
104 es igual a 2 * 52.0
105 es igual a 3 * 35.0
106 es igual a 2 * 53.0
107 es un numero primo
108 es igual a 2 * 54.0
109 es un numero primo
110 es igual a 2 * 55.0
111 es igual a 3 * 37.0
112 es igual a 2 * 56.0
113 es un numero primo
114 es igual a 2 * 57.0
115 es igual a 5 * 23.0
116 es igual a 2 * 58.0
117 es igual a 3 * 39.0
118 es igual a 2 * 59.0
119 es igual a 7 * 17.0
120 es igual a 2 * 60.0
121 es igual a 11 * 11.0
122 es igual a 2 * 61.0
123 es igual a 3 * 41.0
124 es igual a 2 * 62.0
125 es igual a 5 * 25.0
126 es igual a 2 * 63.0
127 es un numero primo
128 es igual a 2 * 64.0
129 es igual a 3 * 43.0
130 es igual a 2 * 65.0
131 es un numero primo
132 es igual a 2 * 66.0
133 es igual a 7 * 19.0
134 es igual a 2 * 67.0
135 es igual a 3 * 45.0
136 es igual a 2 * 68.0
137 es un numero primo
138 es igual a 2 * 69.0
139 es un numero primo
140 es igual a 2 * 70.0
141 es igual a 3 * 47.0
142 es igual a 2 * 71.0
143 es igual a 11 * 13.0
144 es igual a 2 * 72.0
145 es igual a 5 * 29.0
146 es igual a 2 * 73.0
147 es igual a 3 * 49.0
148 es igual a 2 * 74.0
149 es un numero primo
150 es igual a 2 * 75.0
151 es un numero primo
152 es igual a 2 * 76.0
153 es igual a 3 * 51.0
154 es igual a 2 * 77.0
155 es igual a 5 * 31.0
156 es igual a 2 * 78.0
157 es un numero primo
158 es igual a 2 * 79.0
159 es igual a 3 * 53.0
160 es igual a 2 * 80.0
161 es igual a 7 * 23.0
162 es igual a 2 * 81.0
163 es un numero primo
164 es igual a 2 * 82.0
165 es igual a 3 * 55.0
166 es igual a 2 * 83.0
167 es un numero primo
168 es igual a 2 * 84.0
169 es igual a 13 * 13.0
170 es igual a 2 * 85.0
171 es igual a 3 * 57.0
172 es igual a 2 * 86.0
173 es un numero primo
174 es igual a 2 * 87.0
175 es igual a 5 * 35.0
176 es igual a 2 * 88.0
177 es igual a 3 * 59.0
178 es igual a 2 * 89.0
179 es un numero primo
180 es igual a 2 * 90.0
181 es un numero primo
182 es igual a 2 * 91.0
183 es igual a 3 * 61.0
184 es igual a 2 * 92.0
185 es igual a 5 * 37.0
186 es igual a 2 * 93.0
187 es igual a 11 * 17.0
188 es igual a 2 * 94.0
189 es igual a 3 * 63.0
190 es igual a 2 * 95.0
191 es un numero primo
192 es igual a 2 * 96.0
193 es un numero primo
194 es igual a 2 * 97.0
195 es igual a 3 * 65.0
196 es igual a 2 * 98.0
197 es un numero primo
198 es igual a 2 * 99.0
199 es un numero primo
200 es igual a 2 * 100.0
201 es igual a 3 * 67.0
202 es igual a 2 * 101.0
203 es igual a 7 * 29.0
204 es igual a 2 * 102.0
205 es igual a 5 * 41.0
206 es igual a 2 * 103.0
207 es igual a 3 * 69.0
208 es igual a 2 * 104.0
209 es igual a 11 * 19.0
210 es igual a 2 * 105.0
211 es un numero primo
212 es igual a 2 * 106.0
213 es igual a 3 * 71.0
214 es igual a 2 * 107.0
215 es igual a 5 * 43.0
216 es igual a 2 * 108.0
217 es igual a 7 * 31.0
218 es igual a 2 * 109.0
219 es igual a 3 * 73.0
220 es igual a 2 * 110.0
221 es igual a 13 * 17.0
222 es igual a 2 * 111.0
223 es un numero primo
224 es igual a 2 * 112.0
225 es igual a 3 * 75.0
226 es igual a 2 * 113.0
227 es un numero primo
228 es igual a 2 * 114.0
229 es un numero primo
230 es igual a 2 * 115.0
231 es igual a 3 * 77.0
232 es igual a 2 * 116.0
233 es un numero primo
234 es igual a 2 * 117.0
235 es igual a 5 * 47.0
236 es igual a 2 * 118.0
237 es igual a 3 * 79.0
238 es igual a 2 * 119.0
239 es un numero primo
240 es igual a 2 * 120.0
241 es un numero primo
242 es igual a 2 * 121.0
243 es igual a 3 * 81.0
244 es igual a 2 * 122.0
245 es igual a 5 * 49.0
246 es igual a 2 * 123.0
247 es igual a 13 * 19.0
248 es igual a 2 * 124.0
249 es igual a 3 * 83.0
250 es igual a 2 * 125.0
251 es un numero primo
252 es igual a 2 * 126.0
253 es igual a 11 * 23.0
254 es igual a 2 * 127.0
255 es igual a 3 * 85.0
256 es igual a 2 * 128.0
257 es un numero primo
258 es igual a 2 * 129.0
259 es igual a 7 * 37.0
260 es igual a 2 * 130.0
261 es igual a 3 * 87.0
262 es igual a 2 * 131.0
263 es un numero primo
264 es igual a 2 * 132.0
265 es igual a 5 * 53.0
266 es igual a 2 * 133.0
267 es igual a 3 * 89.0
268 es igual a 2 * 134.0
269 es un numero primo
270 es igual a 2 * 135.0
271 es un numero primo
272 es igual a 2 * 136.0
273 es igual a 3 * 91.0
274 es igual a 2 * 137.0
275 es igual a 5 * 55.0
276 es igual a 2 * 138.0
277 es un numero primo
278 es igual a 2 * 139.0
279 es igual a 3 * 93.0
280 es igual a 2 * 140.0
281 es un numero primo
282 es igual a 2 * 141.0
283 es un numero primo
284 es igual a 2 * 142.0
285 es igual a 3 * 95.0
286 es igual a 2 * 143.0
287 es igual a 7 * 41.0
288 es igual a 2 * 144.0
289 es igual a 17 * 17.0
290 es igual a 2 * 145.0
291 es igual a 3 * 97.0
292 es igual a 2 * 146.0
293 es un numero primo
294 es igual a 2 * 147.0
295 es igual a 5 * 59.0
296 es igual a 2 * 148.0
297 es igual a 3 * 99.0
298 es igual a 2 * 149.0
299 es igual a 13 * 23.0
300 es igual a 2 * 150.0
301 es igual a 7 * 43.0
302 es igual a 2 * 151.0
303 es igual a 3 * 101.0
304 es igual a 2 * 152.0
305 es igual a 5 * 61.0
306 es igual a 2 * 153.0
307 es un numero primo
308 es igual a 2 * 154.0
309 es igual a 3 * 103.0
310 es igual a 2 * 155.0
311 es un numero primo
312 es igual a 2 * 156.0
313 es un numero primo
314 es igual a 2 * 157.0
315 es igual a 3 * 105.0
316 es igual a 2 * 158.0
317 es un numero primo
318 es igual a 2 * 159.0
319 es igual a 11 * 29.0
320 es igual a 2 * 160.0
321 es igual a 3 * 107.0
322 es igual a 2 * 161.0
323 es igual a 17 * 19.0
324 es igual a 2 * 162.0
325 es igual a 5 * 65.0
326 es igual a 2 * 163.0
327 es igual a 3 * 109.0
328 es igual a 2 * 164.0
329 es igual a 7 * 47.0
330 es igual a 2 * 165.0
331 es un numero primo
332 es igual a 2 * 166.0
333 es igual a 3 * 111.0
334 es igual a 2 * 167.0
335 es igual a 5 * 67.0
336 es igual a 2 * 168.0
337 es un numero primo
338 es igual a 2 * 169.0
339 es igual a 3 * 113.0
340 es igual a 2 * 170.0
341 es igual a 11 * 31.0
342 es igual a 2 * 171.0
343 es igual a 7 * 49.0
344 es igual a 2 * 172.0
345 es igual a 3 * 115.0
346 es igual a 2 * 173.0
347 es un numero primo
348 es igual a 2 * 174.0
349 es un numero primo
350 es igual a 2 * 175.0
351 es igual a 3 * 117.0
352 es igual a 2 * 176.0
353 es un numero primo
354 es igual a 2 * 177.0
355 es igual a 5 * 71.0
356 es igual a 2 * 178.0
357 es igual a 3 * 119.0
358 es igual a 2 * 179.0
359 es un numero primo
360 es igual a 2 * 180.0
361 es igual a 19 * 19.0
362 es igual a 2 * 181.0
363 es igual a 3 * 121.0
364 es igual a 2 * 182.0
365 es igual a 5 * 73.0
366 es igual a 2 * 183.0
367 es un numero primo
368 es igual a 2 * 184.0
369 es igual a 3 * 123.0
370 es igual a 2 * 185.0
371 es igual a 7 * 53.0
372 es igual a 2 * 186.0
373 es un numero primo
374 es igual a 2 * 187.0
375 es igual a 3 * 125.0
376 es igual a 2 * 188.0
377 es igual a 13 * 29.0
378 es igual a 2 * 189.0
379 es un numero primo
380 es igual a 2 * 190.0
381 es igual a 3 * 127.0
382 es igual a 2 * 191.0
383 es un numero primo
384 es igual a 2 * 192.0
385 es igual a 5 * 77.0
386 es igual a 2 * 193.0
387 es igual a 3 * 129.0
388 es igual a 2 * 194.0
389 es un numero primo
390 es igual a 2 * 195.0
391 es igual a 17 * 23.0
392 es igual a 2 * 196.0
393 es igual a 3 * 131.0
394 es igual a 2 * 197.0
395 es igual a 5 * 79.0
396 es igual a 2 * 198.0
397 es un numero primo
398 es igual a 2 * 199.0
399 es igual a 3 * 133.0
400 es igual a 2 * 200.0
401 es un numero primo
402 es igual a 2 * 201.0
403 es igual a 13 * 31.0
404 es igual a 2 * 202.0
405 es igual a 3 * 135.0
406 es igual a 2 * 203.0
407 es igual a 11 * 37.0
408 es igual a 2 * 204.0
409 es un numero primo
410 es igual a 2 * 205.0
411 es igual a 3 * 137.0
412 es igual a 2 * 206.0
413 es igual a 7 * 59.0
414 es igual a 2 * 207.0
415 es igual a 5 * 83.0
416 es igual a 2 * 208.0
417 es igual a 3 * 139.0
418 es igual a 2 * 209.0
419 es un numero primo
420 es igual a 2 * 210.0
421 es un numero primo
422 es igual a 2 * 211.0
423 es igual a 3 * 141.0
424 es igual a 2 * 212.0
425 es igual a 5 * 85.0
426 es igual a 2 * 213.0
427 es igual a 7 * 61.0
428 es igual a 2 * 214.0
429 es igual a 3 * 143.0
430 es igual a 2 * 215.0
431 es un numero primo
432 es igual a 2 * 216.0
433 es un numero primo
434 es igual a 2 * 217.0
435 es igual a 3 * 145.0
436 es igual a 2 * 218.0
437 es igual a 19 * 23.0
438 es igual a 2 * 219.0
439 es un numero primo
440 es igual a 2 * 220.0
441 es igual a 3 * 147.0
442 es igual a 2 * 221.0
443 es un numero primo
444 es igual a 2 * 222.0
445 es igual a 5 * 89.0
446 es igual a 2 * 223.0
447 es igual a 3 * 149.0
448 es igual a 2 * 224.0
449 es un numero primo
450 es igual a 2 * 225.0
451 es igual a 11 * 41.0
452 es igual a 2 * 226.0
453 es igual a 3 * 151.0
454 es igual a 2 * 227.0
455 es igual a 5 * 91.0
456 es igual a 2 * 228.0
457 es un numero primo
458 es igual a 2 * 229.0
459 es igual a 3 * 153.0
460 es igual a 2 * 230.0
461 es un numero primo
462 es igual a 2 * 231.0
463 es un numero primo
464 es igual a 2 * 232.0
465 es igual a 3 * 155.0
466 es igual a 2 * 233.0
467 es un numero primo
468 es igual a 2 * 234.0
469 es igual a 7 * 67.0
470 es igual a 2 * 235.0
471 es igual a 3 * 157.0
472 es igual a 2 * 236.0
473 es igual a 11 * 43.0
474 es igual a 2 * 237.0
475 es igual a 5 * 95.0
476 es igual a 2 * 238.0
477 es igual a 3 * 159.0
478 es igual a 2 * 239.0
479 es un numero primo
480 es igual a 2 * 240.0
481 es igual a 13 * 37.0
482 es igual a 2 * 241.0
483 es igual a 3 * 161.0
484 es igual a 2 * 242.0
485 es igual a 5 * 97.0
486 es igual a 2 * 243.0
487 es un numero primo
488 es igual a 2 * 244.0
489 es igual a 3 * 163.0
490 es igual a 2 * 245.0
491 es un numero primo
492 es igual a 2 * 246.0
493 es igual a 17 * 29.0
494 es igual a 2 * 247.0
495 es igual a 3 * 165.0
496 es igual a 2 * 248.0
497 es igual a 7 * 71.0
498 es igual a 2 * 249.0
499 es un numero primo
500 es igual a 2 * 250.0
501 es igual a 3 * 167.0
502 es igual a 2 * 251.0
503 es un numero primo
504 es igual a 2 * 252.0
505 es igual a 5 * 101.0
506 es igual a 2 * 253.0
507 es igual a 3 * 169.0
508 es igual a 2 * 254.0
509 es un numero primo
510 es igual a 2 * 255.0
511 es igual a 7 * 73.0
512 es igual a 2 * 256.0
513 es igual a 3 * 171.0
514 es igual a 2 * 257.0
515 es igual a 5 * 103.0
516 es igual a 2 * 258.0
517 es igual a 11 * 47.0
518 es igual a 2 * 259.0
519 es igual a 3 * 173.0
520 es igual a 2 * 260.0
521 es un numero primo
522 es igual a 2 * 261.0
523 es un numero primo
524 es igual a 2 * 262.0
525 es igual a 3 * 175.0
526 es igual a 2 * 263.0
527 es igual a 17 * 31.0

528 es igual a 2 * 264.0
529 es igual a 23 * 23.0
530 es igual a 2 * 265.0
531 es igual a 3 * 177.0
532 es igual a 2 * 266.0
533 es igual a 13 * 41.0
534 es igual a 2 * 267.0
535 es igual a 5 * 107.0
536 es igual a 2 * 268.0
537 es igual a 3 * 179.0
538 es igual a 2 * 269.0
539 es igual a 7 * 77.0
540 es igual a 2 * 270.0
541 es un numero primo
542 es igual a 2 * 271.0
543 es igual a 3 * 181.0
544 es igual a 2 * 272.0
545 es igual a 5 * 109.0
546 es igual a 2 * 273.0
547 es un numero primo
548 es igual a 2 * 274.0
549 es igual a 3 * 183.0
550 es igual a 2 * 275.0
551 es igual a 19 * 29.0
552 es igual a 2 * 276.0
553 es igual a 7 * 79.0
554 es igual a 2 * 277.0
555 es igual a 3 * 185.0
556 es igual a 2 * 278.0
557 es un numero primo
558 es igual a 2 * 279.0
559 es igual a 13 * 43.0
560 es igual a 2 * 280.0
561 es igual a 3 * 187.0
562 es igual a 2 * 281.0
563 es un numero primo
564 es igual a 2 * 282.0
565 es igual a 5 * 113.0
566 es igual a 2 * 283.0
567 es igual a 3 * 189.0
568 es igual a 2 * 284.0
569 es un numero primo
570 es igual a 2 * 285.0
571 es un numero primo
572 es igual a 2 * 286.0
573 es igual a 3 * 191.0
574 es igual a 2 * 287.0
575 es igual a 5 * 115.0
576 es igual a 2 * 288.0
577 es un numero primo
578 es igual a 2 * 289.0
579 es igual a 3 * 193.0
580 es igual a 2 * 290.0
581 es igual a 7 * 83.0
582 es igual a 2 * 291.0
583 es igual a 11 * 53.0
584 es igual a 2 * 292.0
585 es igual a 3 * 195.0
586 es igual a 2 * 293.0
587 es un numero primo
588 es igual a 2 * 294.0
589 es igual a 19 * 31.0
590 es igual a 2 * 295.0
591 es igual a 3 * 197.0
592 es igual a 2 * 296.0
593 es un numero primo
594 es igual a 2 * 297.0
595 es igual a 5 * 119.0
596 es igual a 2 * 298.0
597 es igual a 3 * 199.0
598 es igual a 2 * 299.0
599 es un numero primo
600 es igual a 2 * 300.0
601 es un numero primo
602 es igual a 2 * 301.0
603 es igual a 3 * 201.0
604 es igual a 2 * 302.0
605 es igual a 5 * 121.0
606 es igual a 2 * 303.0
607 es un numero primo
608 es igual a 2 * 304.0
609 es igual a 3 * 203.0
610 es igual a 2 * 305.0
611 es igual a 13 * 47.0
612 es igual a 2 * 306.0
613 es un numero primo
614 es igual a 2 * 307.0
615 es igual a 3 * 205.0
616 es igual a 2 * 308.0
617 es un numero primo
618 es igual a 2 * 309.0
619 es un numero primo
620 es igual a 2 * 310.0
621 es igual a 3 * 207.0
622 es igual a 2 * 311.0
623 es igual a 7 * 89.0
624 es igual a 2 * 312.0
625 es igual a 5 * 125.0
626 es igual a 2 * 313.0
627 es igual a 3 * 209.0
628 es igual a 2 * 314.0
629 es igual a 17 * 37.0
630 es igual a 2 * 315.0
631 es un numero primo
632 es igual a 2 * 316.0
633 es igual a 3 * 211.0
634 es igual a 2 * 317.0
635 es igual a 5 * 127.0
636 es igual a 2 * 318.0
637 es igual a 7 * 91.0
638 es igual a 2 * 319.0
639 es igual a 3 * 213.0
640 es igual a 2 * 320.0
641 es un numero primo
642 es igual a 2 * 321.0
643 es un numero primo
644 es igual a 2 * 322.0
645 es igual a 3 * 215.0
646 es igual a 2 * 323.0
647 es un numero primo
648 es igual a 2 * 324.0
649 es igual a 11 * 59.0
650 es igual a 2 * 325.0
651 es igual a 3 * 217.0
652 es igual a 2 * 326.0
653 es un numero primo
654 es igual a 2 * 327.0
655 es igual a 5 * 131.0
656 es igual a 2 * 328.0
657 es igual a 3 * 219.0
658 es igual a 2 * 329.0
659 es un numero primo
660 es igual a 2 * 330.0
661 es un numero primo
662 es igual a 2 * 331.0
663 es igual a 3 * 221.0
664 es igual a 2 * 332.0
665 es igual a 5 * 133.0
666 es igual a 2 * 333.0
667 es igual a 23 * 29.0
668 es igual a 2 * 334.0
669 es igual a 3 * 223.0
670 es igual a 2 * 335.0
671 es igual a 11 * 61.0
672 es igual a 2 * 336.0
673 es un numero primo
674 es igual a 2 * 337.0
675 es igual a 3 * 225.0
676 es igual a 2 * 338.0
677 es un numero primo
678 es igual a 2 * 339.0
679 es igual a 7 * 97.0
680 es igual a 2 * 340.0
681 es igual a 3 * 227.0
682 es igual a 2 * 341.0
683 es un numero primo
684 es igual a 2 * 342.0
685 es igual a 5 * 137.0
686 es igual a 2 * 343.0
687 es igual a 3 * 229.0
688 es igual a 2 * 344.0
689 es igual a 13 * 53.0
690 es igual a 2 * 345.0
691 es un numero primo
692 es igual a 2 * 346.0
693 es igual a 3 * 231.0
694 es igual a 2 * 347.0
695 es igual a 5 * 139.0
696 es igual a 2 * 348.0
697 es igual a 17 * 41.0
698 es igual a 2 * 349.0
699 es igual a 3 * 233.0
700 es igual a 2 * 350.0
701 es un numero primo
702 es igual a 2 * 351.0
703 es igual a 19 * 37.0
704 es igual a 2 * 352.0
705 es igual a 3 * 235.0
706 es igual a 2 * 353.0
707 es igual a 7 * 101.0
708 es igual a 2 * 354.0
709 es un numero primo
710 es igual a 2 * 355.0
711 es igual a 3 * 237.0
712 es igual a 2 * 356.0
713 es igual a 23 * 31.0
714 es igual a 2 * 357.0
715 es igual a 5 * 143.0
716 es igual a 2 * 358.0
717 es igual a 3 * 239.0
718 es igual a 2 * 359.0
719 es un numero primo
720 es igual a 2 * 360.0
721 es igual a 7 * 103.0
722 es igual a 2 * 361.0
723 es igual a 3 * 241.0
724 es igual a 2 * 362.0
725 es igual a 5 * 145.0
726 es igual a 2 * 363.0
727 es un numero primo
728 es igual a 2 * 364.0
729 es igual a 3 * 243.0
730 es igual a 2 * 365.0
731 es igual a 17 * 43.0
732 es igual a 2 * 366.0
733 es un numero primo
734 es igual a 2 * 367.0
735 es igual a 3 * 245.0
736 es igual a 2 * 368.0
737 es igual a 11 * 67.0
738 es igual a 2 * 369.0
739 es un numero primo
740 es igual a 2 * 370.0
741 es igual a 3 * 247.0
742 es igual a 2 * 371.0
743 es un numero primo
744 es igual a 2 * 372.0
745 es igual a 5 * 149.0
746 es igual a 2 * 373.0
747 es igual a 3 * 249.0
748 es igual a 2 * 374.0
749 es igual a 7 * 107.0
750 es igual a 2 * 375.0
751 es un numero primo
752 es igual a 2 * 376.0
753 es igual a 3 * 251.0
754 es igual a 2 * 377.0
755 es igual a 5 * 151.0
756 es igual a 2 * 378.0
757 es un numero primo
758 es igual a 2 * 379.0
759 es igual a 3 * 253.0
760 es igual a 2 * 380.0
761 es un numero primo
762 es igual a 2 * 381.0
763 es igual a 7 * 109.0
764 es igual a 2 * 382.0
765 es igual a 3 * 255.0
766 es igual a 2 * 383.0
767 es igual a 13 * 59.0
768 es igual a 2 * 384.0
769 es un numero primo
770 es igual a 2 * 385.0
771 es igual a 3 * 257.0
772 es igual a 2 * 386.0
773 es un numero primo
774 es igual a 2 * 387.0
775 es igual a 5 * 155.0
776 es igual a 2 * 388.0
777 es igual a 3 * 259.0
778 es igual a 2 * 389.0
779 es igual a 19 * 41.0
780 es igual a 2 * 390.0
781 es igual a 11 * 71.0
782 es igual a 2 * 391.0
783 es igual a 3 * 261.0
784 es igual a 2 * 392.0
785 es igual a 5 * 157.0
786 es igual a 2 * 393.0
787 es un numero primo
788 es igual a 2 * 394.0
789 es igual a 3 * 263.0
790 es igual a 2 * 395.0
791 es igual a 7 * 113.0
792 es igual a 2 * 396.0
793 es igual a 13 * 61.0
794 es igual a 2 * 397.0
795 es igual a 3 * 265.0
796 es igual a 2 * 398.0
797 es un numero primo
798 es igual a 2 * 399.0
799 es igual a 17 * 47.0
800 es igual a 2 * 400.0
801 es igual a 3 * 267.0
802 es igual a 2 * 401.0
803 es igual a 11 * 73.0
804 es igual a 2 * 402.0
805 es igual a 5 * 161.0
806 es igual a 2 * 403.0
807 es igual a 3 * 269.0
808 es igual a 2 * 404.0
809 es un numero primo
810 es igual a 2 * 405.0
811 es un numero primo
812 es igual a 2 * 406.0
813 es igual a 3 * 271.0
814 es igual a 2 * 407.0
815 es igual a 5 * 163.0
816 es igual a 2 * 408.0
817 es igual a 19 * 43.0
818 es igual a 2 * 409.0
819 es igual a 3 * 273.0
820 es igual a 2 * 410.0
821 es un numero primo
822 es igual a 2 * 411.0
823 es un numero primo
824 es igual a 2 * 412.0
825 es igual a 3 * 275.0
826 es igual a 2 * 413.0
827 es un numero primo
828 es igual a 2 * 414.0
829 es un numero primo
830 es igual a 2 * 415.0
831 es igual a 3 * 277.0
832 es igual a 2 * 416.0
833 es igual a 7 * 119.0
834 es igual a 2 * 417.0
835 es igual a 5 * 167.0
836 es igual a 2 * 418.0
837 es igual a 3 * 279.0
838 es igual a 2 * 419.0
839 es un numero primo
840 es igual a 2 * 420.0
841 es igual a 29 * 29.0
842 es igual a 2 * 421.0
843 es igual a 3 * 281.0
844 es igual a 2 * 422.0
845 es igual a 5 * 169.0
846 es igual a 2 * 423.0
847 es igual a 7 * 121.0
848 es igual a 2 * 424.0
849 es igual a 3 * 283.0
850 es igual a 2 * 425.0
851 es igual a 23 * 37.0
852 es igual a 2 * 426.0
853 es un numero primo
854 es igual a 2 * 427.0
855 es igual a 3 * 285.0
856 es igual a 2 * 428.0
857 es un numero primo
858 es igual a 2 * 429.0
859 es un numero primo
860 es igual a 2 * 430.0
861 es igual a 3 * 287.0
862 es igual a 2 * 431.0
863 es un numero primo

864 es igual a 2 * 432.0
865 es igual a 5 * 173.0
866 es igual a 2 * 433.0
867 es igual a 3 * 289.0
868 es igual a 2 * 434.0
869 es igual a 11 * 79.0
870 es igual a 2 * 435.0
871 es igual a 13 * 67.0
872 es igual a 2 * 436.0
873 es igual a 3 * 291.0
874 es igual a 2 * 437.0
875 es igual a 5 * 175.0
876 es igual a 2 * 438.0
877 es un numero primo
878 es igual a 2 * 439.0
879 es igual a 3 * 293.0
880 es igual a 2 * 440.0
881 es un numero primo
882 es igual a 2 * 441.0
883 es un numero primo
884 es igual a 2 * 442.0
885 es igual a 3 * 295.0
886 es igual a 2 * 443.0
887 es un numero primo
888 es igual a 2 * 444.0
889 es igual a 7 * 127.0
890 es igual a 2 * 445.0
891 es igual a 3 * 297.0
892 es igual a 2 * 446.0
893 es igual a 19 * 47.0
894 es igual a 2 * 447.0
895 es igual a 5 * 179.0
896 es igual a 2 * 448.0
897 es igual a 3 * 299.0
898 es igual a 2 * 449.0
899 es igual a 29 * 31.0
900 es igual a 2 * 450.0
901 es igual a 17 * 53.0
902 es igual a 2 * 451.0
903 es igual a 3 * 301.0
904 es igual a 2 * 452.0
905 es igual a 5 * 181.0
906 es igual a 2 * 453.0
907 es un numero primo
908 es igual a 2 * 454.0
909 es igual a 3 * 303.0
910 es igual a 2 * 455.0
911 es un numero primo
912 es igual a 2 * 456.0
913 es igual a 11 * 83.0
914 es igual a 2 * 457.0
915 es igual a 3 * 305.0
916 es igual a 2 * 458.0
917 es igual a 7 * 131.0
918 es igual a 2 * 459.0
919 es un numero primo
920 es igual a 2 * 460.0
921 es igual a 3 * 307.0
922 es igual a 2 * 461.0
923 es igual a 13 * 71.0
924 es igual a 2 * 462.0
925 es igual a 5 * 185.0
926 es igual a 2 * 463.0
927 es igual a 3 * 309.0
928 es igual a 2 * 464.0
929 es un numero primo
930 es igual a 2 * 465.0
931 es igual a 7 * 133.0
932 es igual a 2 * 466.0
933 es igual a 3 * 311.0
934 es igual a 2 * 467.0
935 es igual a 5 * 187.0
936 es igual a 2 * 468.0
937 es un numero primo
938 es igual a 2 * 469.0
939 es igual a 3 * 313.0
940 es igual a 2 * 470.0
941 es un numero primo
942 es igual a 2 * 471.0
943 es igual a 23 * 41.0
944 es igual a 2 * 472.0
945 es igual a 3 * 315.0
946 es igual a 2 * 473.0
947 es un numero primo
948 es igual a 2 * 474.0
949 es igual a 13 * 73.0
950 es igual a 2 * 475.0
951 es igual a 3 * 317.0
952 es igual a 2 * 476.0
953 es un numero primo
954 es igual a 2 * 477.0
955 es igual a 5 * 191.0
956 es igual a 2 * 478.0
957 es igual a 3 * 319.0
958 es igual a 2 * 479.0
959 es igual a 7 * 137.0
960 es igual a 2 * 480.0
961 es igual a 31 * 31.0
962 es igual a 2 * 481.0
963 es igual a 3 * 321.0
964 es igual a 2 * 482.0
965 es igual a 5 * 193.0
966 es igual a 2 * 483.0
967 es un numero primo
968 es igual a 2 * 484.0
969 es igual a 3 * 323.0
970 es igual a 2 * 485.0
971 es un numero primo
972 es igual a 2 * 486.0
973 es igual a 7 * 139.0
974 es igual a 2 * 487.0
975 es igual a 3 * 325.0
976 es igual a 2 * 488.0
977 es un numero primo
978 es igual a 2 * 489.0
979 es igual a 11 * 89.0
980 es igual a 2 * 490.0
981 es igual a 3 * 327.0
982 es igual a 2 * 491.0
983 es un numero primo
984 es igual a 2 * 492.0
985 es igual a 5 * 197.0
986 es igual a 2 * 493.0
987 es igual a 3 * 329.0
988 es igual a 2 * 494.0
989 es igual a 23 * 43.0
990 es igual a 2 * 495.0
991 es un numero primo
992 es igual a 2 * 496.0
993 es igual a 3 * 331.0
994 es igual a 2 * 497.0
995 es igual a 5 * 199.0
996 es igual a 2 * 498.0
997 es un numero primo
998 es igual a 2 * 499.0
999 es igual a 3 * 333.0
1000 es igual a 2 * 500.0
1001 es igual a 7 * 143.0
1002 es igual a 2 * 501.0
1003 es igual a 17 * 59.0
1004 es igual a 2 * 502.0
1005 es igual a 3 * 335.0
1006 es igual a 2 * 503.0
1007 es igual a 19 * 53.0
1008 es igual a 2 * 504.0
1009 es un numero primo
1010 es igual a 2 * 505.0
1011 es igual a 3 * 337.0
1012 es igual a 2 * 506.0
1013 es un numero primo
1014 es igual a 2 * 507.0
1015 es igual a 5 * 203.0
1016 es igual a 2 * 508.0
1017 es igual a 3 * 339.0
1018 es igual a 2 * 509.0
1019 es un numero primo
1020 es igual a 2 * 510.0
1021 es un numero primo
1022 es igual a 2 * 511.0
1023 es igual a 3 * 341.0
1024 es igual a 2 * 512.0
1025 es igual a 5 * 205.0
1026 es igual a 2 * 513.0
1027 es igual a 13 * 79.0
1028 es igual a 2 * 514.0
1029 es igual a 3 * 343.0
1030 es igual a 2 * 515.0
1031 es un numero primo
1032 es igual a 2 * 516.0
1033 es un numero primo
1034 es igual a 2 * 517.0
1035 es igual a 3 * 345.0
1036 es igual a 2 * 518.0
1037 es igual a 17 * 61.0
1038 es igual a 2 * 519.0
1039 es un numero primo
1040 es igual a 2 * 520.0
1041 es igual a 3 * 347.0
1042 es igual a 2 * 521.0
1043 es igual a 7 * 149.0
1044 es igual a 2 * 522.0
1045 es igual a 5 * 209.0
1046 es igual a 2 * 523.0
1047 es igual a 3 * 349.0
1048 es igual a 2 * 524.0
1049 es un numero primo
1050 es igual a 2 * 525.0
1051 es un numero primo
1052 es igual a 2 * 526.0
1053 es igual a 3 * 351.0
1054 es igual a 2 * 527.0
1055 es igual a 5 * 211.0
1056 es igual a 2 * 528.0
1057 es igual a 7 * 151.0
1058 es igual a 2 * 529.0
1059 es igual a 3 * 353.0
1060 es igual a 2 * 530.0
1061 es un numero primo
1062 es igual a 2 * 531.0
1063 es un numero primo
1064 es igual a 2 * 532.0
1065 es igual a 3 * 355.0
1066 es igual a 2 * 533.0
1067 es igual a 11 * 97.0
1068 es igual a 2 * 534.0
1069 es un numero primo
1070 es igual a 2 * 535.0
1071 es igual a 3 * 357.0
1072 es igual a 2 * 536.0
1073 es igual a 29 * 37.0
1074 es igual a 2 * 537.0
1075 es igual a 5 * 215.0
1076 es igual a 2 * 538.0
1077 es igual a 3 * 359.0
1078 es igual a 2 * 539.0
1079 es igual a 13 * 83.0
1080 es igual a 2 * 540.0
1081 es igual a 23 * 47.0
1082 es igual a 2 * 541.0
1083 es igual a 3 * 361.0
1084 es igual a 2 * 542.0
1085 es igual a 5 * 217.0
1086 es igual a 2 * 543.0
1087 es un numero primo
1088 es igual a 2 * 544.0
1089 es igual a 3 * 363.0
1090 es igual a 2 * 545.0
1091 es un numero primo
1092 es igual a 2 * 546.0
1093 es un numero primo
1094 es igual a 2 * 547.0
1095 es igual a 3 * 365.0
1096 es igual a 2 * 548.0
1097 es un numero primo
1098 es igual a 2 * 549.0
1099 es igual a 7 * 157.0
1100 es igual a 2 * 550.0
1101 es igual a 3 * 367.0
1102 es igual a 2 * 551.0
1103 es un numero primo
1104 es igual a 2 * 552.0
1105 es igual a 5 * 221.0
1106 es igual a 2 * 553.0
1107 es igual a 3 * 369.0
1108 es igual a 2 * 554.0
1109 es un numero primo
1110 es igual a 2 * 555.0
1111 es igual a 11 * 101.0
1112 es igual a 2 * 556.0
1113 es igual a 3 * 371.0
1114 es igual a 2 * 557.0
1115 es igual a 5 * 223.0
1116 es igual a 2 * 558.0
1117 es un numero primo
1118 es igual a 2 * 559.0
1119 es igual a 3 * 373.0
1120 es igual a 2 * 560.0
1121 es igual a 19 * 59.0
1122 es igual a 2 * 561.0
1123 es un numero primo
1124 es igual a 2 * 562.0
1125 es igual a 3 * 375.0
1126 es igual a 2 * 563.0
1127 es igual a 7 * 161.0
1128 es igual a 2 * 564.0
1129 es un numero primo
1130 es igual a 2 * 565.0
1131 es igual a 3 * 377.0
1132 es igual a 2 * 566.0
1133 es igual a 11 * 103.0
1134 es igual a 2 * 567.0
1135 es igual a 5 * 227.0
1136 es igual a 2 * 568.0
1137 es igual a 3 * 379.0
1138 es igual a 2 * 569.0
1139 es igual a 17 * 67.0
1140 es igual a 2 * 570.0
1141 es igual a 7 * 163.0
1142 es igual a 2 * 571.0
1143 es igual a 3 * 381.0
1144 es igual a 2 * 572.0
1145 es igual a 5 * 229.0
1146 es igual a 2 * 573.0
1147 es igual a 31 * 37.0
1148 es igual a 2 * 574.0
1149 es igual a 3 * 383.0
1150 es igual a 2 * 575.0
1151 es un numero primo
1152 es igual a 2 * 576.0
1153 es un numero primo
1154 es igual a 2 * 577.0
1155 es igual a 3 * 385.0
1156 es igual a 2 * 578.0
1157 es igual a 13 * 89.0
1158 es igual a 2 * 579.0
1159 es igual a 19 * 61.0
1160 es igual a 2 * 580.0
1161 es igual a 3 * 387.0
1162 es igual a 2 * 581.0
1163 es un numero primo
1164 es igual a 2 * 582.0
1165 es igual a 5 * 233.0
1166 es igual a 2 * 583.0
1167 es igual a 3 * 389.0
1168 es igual a 2 * 584.0
1169 es igual a 7 * 167.0
1170 es igual a 2 * 585.0
1171 es un numero primo
1172 es igual a 2 * 586.0
1173 es igual a 3 * 391.0
1174 es igual a 2 * 587.0
1175 es igual a 5 * 235.0
1176 es igual a 2 * 588.0
1177 es igual a 11 * 107.0
1178 es igual a 2 * 589.0
1179 es igual a 3 * 393.0
1180 es igual a 2 * 590.0
1181 es un numero primo
1182 es igual a 2 * 591.0
1183 es igual a 7 * 169.0
1184 es igual a 2 * 592.0
1185 es igual a 3 * 395.0
1186 es igual a 2 * 593.0
1187 es un numero primo
1188 es igual a 2 * 594.0
1189 es igual a 29 * 41.0
1190 es igual a 2 * 595.0
1191 es igual a 3 * 397.0
1192 es igual a 2 * 596.0
1193 es un numero primo
1194 es igual a 2 * 597.0
1195 es igual a 5 * 239.0
1196 es igual a 2 * 598.0
1197 es igual a 3 * 399.0
1198 es igual a 2 * 599.0

1199 es igual a 11 * 109.0
1200 es igual a 2 * 600.0
1201 es un numero primo
1202 es igual a 2 * 601.0
1203 es igual a 3 * 401.0
1204 es igual a 2 * 602.0
1205 es igual a 5 * 241.0
1206 es igual a 2 * 603.0
1207 es igual a 17 * 71.0
1208 es igual a 2 * 604.0
1209 es igual a 3 * 403.0
1210 es igual a 2 * 605.0
1211 es igual a 7 * 173.0
1212 es igual a 2 * 606.0
1213 es un numero primo
1214 es igual a 2 * 607.0
1215 es igual a 3 * 405.0
1216 es igual a 2 * 608.0
1217 es un numero primo
1218 es igual a 2 * 609.0
1219 es igual a 23 * 53.0
1220 es igual a 2 * 610.0
1221 es igual a 3 * 407.0
1222 es igual a 2 * 611.0
1223 es un numero primo
1224 es igual a 2 * 612.0
1225 es igual a 5 * 245.0
1226 es igual a 2 * 613.0
1227 es igual a 3 * 409.0
1228 es igual a 2 * 614.0
1229 es un numero primo
1230 es igual a 2 * 615.0
1231 es un numero primo
1232 es igual a 2 * 616.0
1233 es igual a 3 * 411.0
1234 es igual a 2 * 617.0
1235 es igual a 5 * 247.0
1236 es igual a 2 * 618.0
1237 es un numero primo
1238 es igual a 2 * 619.0
1239 es igual a 3 * 413.0
1240 es igual a 2 * 620.0
1241 es igual a 17 * 73.0
1242 es igual a 2 * 621.0
1243 es igual a 11 * 113.0
1244 es igual a 2 * 622.0
1245 es igual a 3 * 415.0
1246 es igual a 2 * 623.0
1247 es igual a 29 * 43.0
1248 es igual a 2 * 624.0
1249 es un numero primo
1250 es igual a 2 * 625.0
1251 es igual a 3 * 417.0
1252 es igual a 2 * 626.0
1253 es igual a 7 * 179.0
1254 es igual a 2 * 627.0
1255 es igual a 5 * 251.0
1256 es igual a 2 * 628.0
1257 es igual a 3 * 419.0
1258 es igual a 2 * 629.0
1259 es un numero primo
1260 es igual a 2 * 630.0
1261 es igual a 13 * 97.0
1262 es igual a 2 * 631.0
1263 es igual a 3 * 421.0
1264 es igual a 2 * 632.0
1265 es igual a 5 * 253.0
1266 es igual a 2 * 633.0
1267 es igual a 7 * 181.0
1268 es igual a 2 * 634.0
1269 es igual a 3 * 423.0
1270 es igual a 2 * 635.0
1271 es igual a 31 * 41.0
1272 es igual a 2 * 636.0
1273 es igual a 19 * 67.0
1274 es igual a 2 * 637.0
1275 es igual a 3 * 425.0
1276 es igual a 2 * 638.0
1277 es un numero primo
1278 es igual a 2 * 639.0
1279 es un numero primo
1280 es igual a 2 * 640.0
1281 es igual a 3 * 427.0
1282 es igual a 2 * 641.0
1283 es un numero primo
1284 es igual a 2 * 642.0
1285 es igual a 5 * 257.0
1286 es igual a 2 * 643.0
1287 es igual a 3 * 429.0
1288 es igual a 2 * 644.0
1289 es un numero primo
1290 es igual a 2 * 645.0
1291 es un numero primo
1292 es igual a 2 * 646.0
1293 es igual a 3 * 431.0
1294 es igual a 2 * 647.0
1295 es igual a 5 * 259.0
1296 es igual a 2 * 648.0
1297 es un numero primo
1298 es igual a 2 * 649.0
1299 es igual a 3 * 433.0
1300 es igual a 2 * 650.0
1301 es un numero primo
1302 es igual a 2 * 651.0
1303 es un numero primo
1304 es igual a 2 * 652.0
1305 es igual a 3 * 435.0
1306 es igual a 2 * 653.0
1307 es un numero primo
1308 es igual a 2 * 654.0
1309 es igual a 7 * 187.0
1310 es igual a 2 * 655.0
1311 es igual a 3 * 437.0
1312 es igual a 2 * 656.0
1313 es igual a 13 * 101.0
1314 es igual a 2 * 657.0
1315 es igual a 5 * 263.0
1316 es igual a 2 * 658.0
1317 es igual a 3 * 439.0
1318 es igual a 2 * 659.0
1319 es un numero primo
1320 es igual a 2 * 660.0
1321 es un numero primo
1322 es igual a 2 * 661.0
1323 es igual a 3 * 441.0
1324 es igual a 2 * 662.0
1325 es igual a 5 * 265.0
1326 es igual a 2 * 663.0
1327 es un numero primo
1328 es igual a 2 * 664.0
1329 es igual a 3 * 443.0
1330 es igual a 2 * 665.0
1331 es igual a 11 * 121.0
1332 es igual a 2 * 666.0
1333 es igual a 31 * 43.0
1334 es igual a 2 * 667.0
1335 es igual a 3 * 445.0
1336 es igual a 2 * 668.0
1337 es igual a 7 * 191.0
1338 es igual a 2 * 669.0
1339 es igual a 13 * 103.0
1340 es igual a 2 * 670.0
1341 es igual a 3 * 447.0
1342 es igual a 2 * 671.0
1343 es igual a 17 * 79.0
1344 es igual a 2 * 672.0
1345 es igual a 5 * 269.0
1346 es igual a 2 * 673.0
1347 es igual a 3 * 449.0
1348 es igual a 2 * 674.0
1349 es igual a 19 * 71.0
1350 es igual a 2 * 675.0
1351 es igual a 7 * 193.0
1352 es igual a 2 * 676.0
1353 es igual a 3 * 451.0
1354 es igual a 2 * 677.0
1355 es igual a 5 * 271.0
1356 es igual a 2 * 678.0
1357 es igual a 23 * 59.0
1358 es igual a 2 * 679.0
1359 es igual a 3 * 453.0
1360 es igual a 2 * 680.0
1361 es un numero primo
1362 es igual a 2 * 681.0
1363 es igual a 29 * 47.0
1364 es igual a 2 * 682.0
1365 es igual a 3 * 455.0
1366 es igual a 2 * 683.0
1367 es un numero primo
1368 es igual a 2 * 684.0
1369 es igual a 37 * 37.0
1370 es igual a 2 * 685.0
1371 es igual a 3 * 457.0
1372 es igual a 2 * 686.0
1373 es un numero primo
1374 es igual a 2 * 687.0
1375 es igual a 5 * 275.0
1376 es igual a 2 * 688.0
1377 es igual a 3 * 459.0
1378 es igual a 2 * 689.0
1379 es igual a 7 * 197.0
1380 es igual a 2 * 690.0
1381 es un numero primo
1382 es igual a 2 * 691.0
1383 es igual a 3 * 461.0
1384 es igual a 2 * 692.0
1385 es igual a 5 * 277.0
1386 es igual a 2 * 693.0
1387 es igual a 19 * 73.0
1388 es igual a 2 * 694.0
1389 es igual a 3 * 463.0
1390 es igual a 2 * 695.0
1391 es igual a 13 * 107.0
1392 es igual a 2 * 696.0
1393 es igual a 7 * 199.0
1394 es igual a 2 * 697.0
1395 es igual a 3 * 465.0
1396 es igual a 2 * 698.0
1397 es igual a 11 * 127.0
1398 es igual a 2 * 699.0
1399 es un numero primo
1400 es igual a 2 * 700.0
1401 es igual a 3 * 467.0
1402 es igual a 2 * 701.0
1403 es igual a 23 * 61.0
1404 es igual a 2 * 702.0
1405 es igual a 5 * 281.0
1406 es igual a 2 * 703.0
1407 es igual a 3 * 469.0
1408 es igual a 2 * 704.0
1409 es un numero primo
1410 es igual a 2 * 705.0
1411 es igual a 17 * 83.0
1412 es igual a 2 * 706.0
1413 es igual a 3 * 471.0
1414 es igual a 2 * 707.0
1415 es igual a 5 * 283.0
1416 es igual a 2 * 708.0
1417 es igual a 13 * 109.0
1418 es igual a 2 * 709.0
1419 es igual a 3 * 473.0
1420 es igual a 2 * 710.0
1421 es igual a 7 * 203.0
1422 es igual a 2 * 711.0

<p>La declaración continue, también tomada de C, continua con la siguiente iteración del ciclo:</p>

In [273]:
 for num in range(2, 1765):
    if num % 2 == 0:
      print("Encontré un número par", num)
      continue
    print("Encontré un número", num)

Encontré un número par 2
Encontré un número 3
Encontré un número par 4
Encontré un número 5
Encontré un número par 6
Encontré un número 7
Encontré un número par 8
Encontré un número 9
Encontré un número par 10
Encontré un número 11
Encontré un número par 12
Encontré un número 13
Encontré un número par 14
Encontré un número 15
Encontré un número par 16
Encontré un número 17
Encontré un número par 18
Encontré un número 19
Encontré un número par 20
Encontré un número 21
Encontré un número par 22
Encontré un número 23
Encontré un número par 24
Encontré un número 25
Encontré un número par 26
Encontré un número 27
Encontré un número par 28
Encontré un número 29
Encontré un número par 30
Encontré un número 31
Encontré un número par 32
Encontré un número 33
Encontré un número par 34
Encontré un número 35
Encontré un número par 36
Encontré un número 37
Encontré un número par 38
Encontré un número 39
Encontré un número par 40
Encontré un número 41
Encontré un número par 42
Encontré un número 43
Encontré un número par 44
Encontré un número 45
Encontré un número par 46
Encontré un número 47
Encontré un número par 48
Encontré un número 49
Encontré un número par 50
Encontré un número 51
Encontré un número par 52
Encontré un número 53
Encontré un número par 54
Encontré un número 55
Encontré un número par 56
Encontré un número 57
Encontré un número par 58
Encontré un número 59
Encontré un número par 60
Encontré un número 61
Encontré un número par 62
Encontré un número 63
Encontré un número par 64
Encontré un número 65
Encontré un número par 66
Encontré un número 67
Encontré un número par 68
Encontré un número 69
Encontré un número par 70
Encontré un número 71
Encontré un número par 72
Encontré un número 73
Encontré un número par 74
Encontré un número 75
Encontré un número par 76
Encontré un número 77
Encontré un número par 78
Encontré un número 79
Encontré un número par 80
Encontré un número 81
Encontré un número par 82
Encontré un número 83
Encontré un número par 84
Encontré un número 85
Encontré un número par 86
Encontré un número 87
Encontré un número par 88
Encontré un número 89
Encontré un número par 90
Encontré un número 91
Encontré un número par 92
Encontré un número 93
Encontré un número par 94
Encontré un número 95
Encontré un número par 96
Encontré un número 97
Encontré un número par 98
Encontré un número 99
Encontré un número par 100
Encontré un número 101
Encontré un número par 102
Encontré un número 103
Encontré un número par 104
Encontré un número 105
Encontré un número par 106
Encontré un número 107
Encontré un número par 108
Encontré un número 109
Encontré un número par 110
Encontré un número 111
Encontré un número par 112
Encontré un número 113
Encontré un número par 114
Encontré un número 115
Encontré un número par 116
Encontré un número 117
Encontré un número par 118
Encontré un número 119
Encontré un número par 120
Encontré un número 121
Encontré un número par 122
Encontré un número 123
Encontré un número par 124
Encontré un número 125
Encontré un número par 126
Encontré un número 127
Encontré un número par 128
Encontré un número 129
Encontré un número par 130
Encontré un número 131
Encontré un número par 132
Encontré un número 133
Encontré un número par 134
Encontré un número 135
Encontré un número par 136
Encontré un número 137
Encontré un número par 138
Encontré un número 139
Encontré un número par 140
Encontré un número 141
Encontré un número par 142
Encontré un número 143
Encontré un número par 144
Encontré un número 145
Encontré un número par 146
Encontré un número 147
Encontré un número par 148
Encontré un número 149
Encontré un número par 150
Encontré un número 151
Encontré un número par 152
Encontré un número 153
Encontré un número par 154
Encontré un número 155
Encontré un número par 156
Encontré un número 157
Encontré un número par 158
Encontré un número 159
Encontré un número par 160
Encontré un número 161
Encontré un número par 162
Encontré un número 163
Encontré un número par 164
Encontré un número 165
Encontré un número par 166
Encontré un número 167
Encontré un número par 168
Encontré un número 169
Encontré un número par 170
Encontré un número 171
Encontré un número par 172
Encontré un número 173
Encontré un número par 174
Encontré un número 175
Encontré un número par 176
Encontré un número 177
Encontré un número par 178
Encontré un número 179
Encontré un número par 180
Encontré un número 181
Encontré un número par 182
Encontré un número 183
Encontré un número par 184
Encontré un número 185
Encontré un número par 186
Encontré un número 187
Encontré un número par 188
Encontré un número 189
Encontré un número par 190
Encontré un número 191
Encontré un número par 192
Encontré un número 193
Encontré un número par 194
Encontré un número 195
Encontré un número par 196
Encontré un número 197
Encontré un número par 198
Encontré un número 199
Encontré un número par 200
Encontré un número 201
Encontré un número par 202
Encontré un número 203
Encontré un número par 204
Encontré un número 205
Encontré un número par 206
Encontré un número 207
Encontré un número par 208
Encontré un número 209
Encontré un número par 210
Encontré un número 211
Encontré un número par 212
Encontré un número 213
Encontré un número par 214
Encontré un número 215
Encontré un número par 216
Encontré un número 217
Encontré un número par 218
Encontré un número 219
Encontré un número par 220
Encontré un número 221
Encontré un número par 222
Encontré un número 223
Encontré un número par 224
Encontré un número 225
Encontré un número par 226
Encontré un número 227
Encontré un número par 228
Encontré un número 229
Encontré un número par 230
Encontré un número 231
Encontré un número par 232
Encontré un número 233
Encontré un número par 234
Encontré un número 235
Encontré un número par 236
Encontré un número 237
Encontré un número par 238
Encontré un número 239
Encontré un número par 240
Encontré un número 241
Encontré un número par 242
Encontré un número 243
Encontré un número par 244
Encontré un número 245
Encontré un número par 246
Encontré un número 247
Encontré un número par 248
Encontré un número 249
Encontré un número par 250
Encontré un número 251
Encontré un número par 252
Encontré un número 253
Encontré un número par 254
Encontré un número 255
Encontré un número par 256
Encontré un número 257
Encontré un número par 258
Encontré un número 259
Encontré un número par 260
Encontré un número 261
Encontré un número par 262
Encontré un número 263
Encontré un número par 264
Encontré un número 265
Encontré un número par 266
Encontré un número 267
Encontré un número par 268
Encontré un número 269
Encontré un número par 270
Encontré un número 271
Encontré un número par 272
Encontré un número 273
Encontré un número par 274
Encontré un número 275
Encontré un número par 276
Encontré un número 277
Encontré un número par 278
Encontré un número 279
Encontré un número par 280
Encontré un número 281
Encontré un número par 282
Encontré un número 283
Encontré un número par 284
Encontré un número 285
Encontré un número par 286
Encontré un número 287
Encontré un número par 288
Encontré un número 289
Encontré un número par 290
Encontré un número 291
Encontré un número par 292
Encontré un número 293
Encontré un número par 294
Encontré un número 295
Encontré un número par 296
Encontré un número 297
Encontré un número par 298
Encontré un número 299
Encontré un número par 300
Encontré un número 301
Encontré un número par 302
Encontré un número 303
Encontré un número par 304
Encontré un número 305
Encontré un número par 306
Encontré un número 307
Encontré un número par 308
Encontré un número 309
Encontré un número par 310
Encontré un número 311
Encontré un número par 312
Encontré un número 313
Encontré un número par 314
Encontré un número 315
Encontré un número par 316
Encontré un número 317
Encontré un número par 318
Encontré un número 319
Encontré un número par 320
Encontré un número 321
Encontré un número par 322
Encontré un número 323
Encontré un número par 324
Encontré un número 325
Encontré un número par 326
Encontré un número 327
Encontré un número par 328
Encontré un número 329
Encontré un número par 330
Encontré un número 331
Encontré un número par 332
Encontré un número 333
Encontré un número par 334
Encontré un número 335
Encontré un número par 336
Encontré un número 337
Encontré un número par 338
Encontré un número 339
Encontré un número par 340
Encontré un número 341
Encontré un número par 342
Encontré un número 343
Encontré un número par 344
Encontré un número 345
Encontré un número par 346
Encontré un número 347
Encontré un número par 348
Encontré un número 349
Encontré un número par 350
Encontré un número 351
Encontré un número par 352
Encontré un número 353
Encontré un número par 354
Encontré un número 355
Encontré un número par 356
Encontré un número 357
Encontré un número par 358
Encontré un número 359
Encontré un número par 360
Encontré un número 361
Encontré un número par 362
Encontré un número 363
Encontré un número par 364
Encontré un número 365
Encontré un número par 366
Encontré un número 367
Encontré un número par 368
Encontré un número 369
Encontré un número par 370
Encontré un número 371
Encontré un número par 372
Encontré un número 373
Encontré un número par 374
Encontré un número 375
Encontré un número par 376
Encontré un número 377
Encontré un número par 378
Encontré un número 379
Encontré un número par 380
Encontré un número 381
Encontré un número par 382
Encontré un número 383
Encontré un número par 384
Encontré un número 385
Encontré un número par 386
Encontré un número 387
Encontré un número par 388
Encontré un número 389
Encontré un número par 390
Encontré un número 391
Encontré un número par 392
Encontré un número 393
Encontré un número par 394
Encontré un número 395
Encontré un número par 396
Encontré un número 397
Encontré un número par 398
Encontré un número 399
Encontré un número par 400
Encontré un número 401
Encontré un número par 402
Encontré un número 403
Encontré un número par 404
Encontré un número 405
Encontré un número par 406
Encontré un número 407
Encontré un número par 408
Encontré un número 409
Encontré un número par 410
Encontré un número 411
Encontré un número par 412
Encontré un número 413
Encontré un número par 414
Encontré un número 415
Encontré un número par 416
Encontré un número 417
Encontré un número par 418
Encontré un número 419
Encontré un número par 420
Encontré un número 421
Encontré un número par 422
Encontré un número 423
Encontré un número par 424
Encontré un número 425
Encontré un número par 426
Encontré un número 427
Encontré un número par 428
Encontré un número 429
Encontré un número par 430
Encontré un número 431
Encontré un número par 432
Encontré un número 433
Encontré un número par 434
Encontré un número 435
Encontré un número par 436
Encontré un número 437
Encontré un número par 438
Encontré un número 439
Encontré un número par 440
Encontré un número 441
Encontré un número par 442
Encontré un número 443
Encontré un número par 444
Encontré un número 445
Encontré un número par 446
Encontré un número 447
Encontré un número par 448
Encontré un número 449
Encontré un número par 450
Encontré un número 451
Encontré un número par 452
Encontré un número 453
Encontré un número par 454
Encontré un número 455
Encontré un número par 456
Encontré un número 457
Encontré un número par 458
Encontré un número 459
Encontré un número par 460
Encontré un número 461
Encontré un número par 462
Encontré un número 463
Encontré un número par 464
Encontré un número 465
Encontré un número par 466
Encontré un número 467
Encontré un número par 468
Encontré un número 469
Encontré un número par 470
Encontré un número 471
Encontré un número par 472
Encontré un número 473
Encontré un número par 474
Encontré un número 475
Encontré un número par 476
Encontré un número 477
Encontré un número par 478
Encontré un número 479
Encontré un número par 480
Encontré un número 481
Encontré un número par 482
Encontré un número 483
Encontré un número par 484
Encontré un número 485
Encontré un número par 486
Encontré un número 487
Encontré un número par 488
Encontré un número 489
Encontré un número par 490
Encontré un número 491
Encontré un número par 492
Encontré un número 493
Encontré un número par 494
Encontré un número 495
Encontré un número par 496
Encontré un número 497
Encontré un número par 498
Encontré un número 499
Encontré un número par 500
Encontré un número 501
Encontré un número par 502
Encontré un número 503
Encontré un número par 504
Encontré un número 505
Encontré un número par 506
Encontré un número 507
Encontré un número par 508
Encontré un número 509
Encontré un número par 510
Encontré un número 511
Encontré un número par 512
Encontré un número 513
Encontré un número par 514
Encontré un número 515
Encontré un número par 516
Encontré un número 517
Encontré un número par 518
Encontré un número 519
Encontré un número par 520
Encontré un número 521
Encontré un número par 522
Encontré un número 523
Encontré un número par 524
Encontré un número 525
Encontré un número par 526
Encontré un número 527
Encontré un número par 528
Encontré un número 529
Encontré un número par 530
Encontré un número 531
Encontré un número par 532
Encontré un número 533
Encontré un número par 534
Encontré un número 535
Encontré un número par 536
Encontré un número 537
Encontré un número par 538
Encontré un número 539
Encontré un número par 540
Encontré un número 541
Encontré un número par 542
Encontré un número 543
Encontré un número par 544
Encontré un número 545
Encontré un número par 546
Encontré un número 547
Encontré un número par 548
Encontré un número 549
Encontré un número par 550
Encontré un número 551
Encontré un número par 552
Encontré un número 553
Encontré un número par 554
Encontré un número 555
Encontré un número par 556
Encontré un número 557
Encontré un número par 558
Encontré un número 559
Encontré un número par 560
Encontré un número 561
Encontré un número par 562
Encontré un número 563
Encontré un número par 564
Encontré un número 565
Encontré un número par 566
Encontré un número 567
Encontré un número par 568
Encontré un número 569
Encontré un número par 570
Encontré un número 571
Encontré un número par 572
Encontré un número 573
Encontré un número par 574
Encontré un número 575
Encontré un número par 576
Encontré un número 577
Encontré un número par 578
Encontré un número 579
Encontré un número par 580
Encontré un número 581
Encontré un número par 582
Encontré un número 583
Encontré un número par 584
Encontré un número 585
Encontré un número par 586
Encontré un número 587
Encontré un número par 588
Encontré un número 589
Encontré un número par 590
Encontré un número 591
Encontré un número par 592
Encontré un número 593
Encontré un número par 594
Encontré un número 595
Encontré un número par 596
Encontré un número 597
Encontré un número par 598
Encontré un número 599
Encontré un número par 600
Encontré un número 601
Encontré un número par 602
Encontré un número 603
Encontré un número par 604
Encontré un número 605
Encontré un número par 606
Encontré un número 607
Encontré un número par 608
Encontré un número 609
Encontré un número par 610
Encontré un número 611
Encontré un número par 612
Encontré un número 613
Encontré un número par 614
Encontré un número 615
Encontré un número par 616
Encontré un número 617
Encontré un número par 618
Encontré un número 619
Encontré un número par 620
Encontré un número 621
Encontré un número par 622
Encontré un número 623
Encontré un número par 624
Encontré un número 625
Encontré un número par 626
Encontré un número 627
Encontré un número par 628
Encontré un número 629
Encontré un número par 630
Encontré un número 631
Encontré un número par 632
Encontré un número 633
Encontré un número par 634
Encontré un número 635
Encontré un número par 636
Encontré un número 637
Encontré un número par 638
Encontré un número 639
Encontré un número par 640
Encontré un número 641
Encontré un número par 642
Encontré un número 643
Encontré un número par 644
Encontré un número 645
Encontré un número par 646
Encontré un número 647
Encontré un número par 648
Encontré un número 649
Encontré un número par 650
Encontré un número 651
Encontré un número par 652
Encontré un número 653
Encontré un número par 654
Encontré un número 655
Encontré un número par 656
Encontré un número 657
Encontré un número par 658
Encontré un número 659
Encontré un número par 660
Encontré un número 661
Encontré un número par 662
Encontré un número 663
Encontré un número par 664
Encontré un número 665
Encontré un número par 666
Encontré un número 667
Encontré un número par 668
Encontré un número 669
Encontré un número par 670
Encontré un número 671
Encontré un número par 672
Encontré un número 673
Encontré un número par 674
Encontré un número 675
Encontré un número par 676
Encontré un número 677
Encontré un número par 678
Encontré un número 679
Encontré un número par 680
Encontré un número 681
Encontré un número par 682
Encontré un número 683
Encontré un número par 684
Encontré un número 685
Encontré un número par 686

Encontré un número 687
Encontré un número par 688
Encontré un número 689
Encontré un número par 690
Encontré un número 691
Encontré un número par 692
Encontré un número 693
Encontré un número par 694
Encontré un número 695
Encontré un número par 696
Encontré un número 697
Encontré un número par 698
Encontré un número 699
Encontré un número par 700
Encontré un número 701
Encontré un número par 702
Encontré un número 703
Encontré un número par 704
Encontré un número 705
Encontré un número par 706
Encontré un número 707
Encontré un número par 708
Encontré un número 709
Encontré un número par 710
Encontré un número 711
Encontré un número par 712
Encontré un número 713
Encontré un número par 714
Encontré un número 715
Encontré un número par 716
Encontré un número 717
Encontré un número par 718
Encontré un número 719
Encontré un número par 720
Encontré un número 721
Encontré un número par 722
Encontré un número 723
Encontré un número par 724
Encontré un número 725
Encontré un número par 726
Encontré un número 727
Encontré un número par 728
Encontré un número 729
Encontré un número par 730
Encontré un número 731
Encontré un número par 732
Encontré un número 733
Encontré un número par 734
Encontré un número 735
Encontré un número par 736
Encontré un número 737
Encontré un número par 738
Encontré un número 739
Encontré un número par 740
Encontré un número 741
Encontré un número par 742
Encontré un número 743
Encontré un número par 744
Encontré un número 745
Encontré un número par 746
Encontré un número 747
Encontré un número par 748
Encontré un número 749
Encontré un número par 750
Encontré un número 751
Encontré un número par 752
Encontré un número 753
Encontré un número par 754
Encontré un número 755
Encontré un número par 756
Encontré un número 757
Encontré un número par 758
Encontré un número 759
Encontré un número par 760
Encontré un número 761
Encontré un número par 762
Encontré un número 763
Encontré un número par 764
Encontré un número 765
Encontré un número par 766
Encontré un número 767
Encontré un número par 768
Encontré un número 769
Encontré un número par 770
Encontré un número 771
Encontré un número par 772
Encontré un número 773
Encontré un número par 774
Encontré un número 775
Encontré un número par 776
Encontré un número 777
Encontré un número par 778
Encontré un número 779
Encontré un número par 780
Encontré un número 781
Encontré un número par 782
Encontré un número 783
Encontré un número par 784
Encontré un número 785
Encontré un número par 786
Encontré un número 787
Encontré un número par 788
Encontré un número 789
Encontré un número par 790
Encontré un número 791
Encontré un número par 792
Encontré un número 793
Encontré un número par 794
Encontré un número 795
Encontré un número par 796
Encontré un número 797
Encontré un número par 798
Encontré un número 799
Encontré un número par 800
Encontré un número 801
Encontré un número par 802
Encontré un número 803
Encontré un número par 804
Encontré un número 805
Encontré un número par 806
Encontré un número 807
Encontré un número par 808
Encontré un número 809
Encontré un número par 810
Encontré un número 811
Encontré un número par 812
Encontré un número 813
Encontré un número par 814
Encontré un número 815
Encontré un número par 816
Encontré un número 817
Encontré un número par 818
Encontré un número 819
Encontré un número par 820
Encontré un número 821
Encontré un número par 822
Encontré un número 823
Encontré un número par 824
Encontré un número 825
Encontré un número par 826
Encontré un número 827
Encontré un número par 828
Encontré un número 829
Encontré un número par 830
Encontré un número 831
Encontré un número par 832
Encontré un número 833
Encontré un número par 834
Encontré un número 835
Encontré un número par 836
Encontré un número 837
Encontré un número par 838
Encontré un número 839
Encontré un número par 840
Encontré un número 841
Encontré un número par 842
Encontré un número 843
Encontré un número par 844
Encontré un número 845
Encontré un número par 846
Encontré un número 847
Encontré un número par 848
Encontré un número 849
Encontré un número par 850
Encontré un número 851
Encontré un número par 852
Encontré un número 853
Encontré un número par 854
Encontré un número 855
Encontré un número par 856
Encontré un número 857
Encontré un número par 858
Encontré un número 859
Encontré un número par 860
Encontré un número 861
Encontré un número par 862
Encontré un número 863
Encontré un número par 864
Encontré un número 865
Encontré un número par 866
Encontré un número 867
Encontré un número par 868
Encontré un número 869
Encontré un número par 870
Encontré un número 871
Encontré un número par 872
Encontré un número 873
Encontré un número par 874
Encontré un número 875
Encontré un número par 876
Encontré un número 877
Encontré un número par 878
Encontré un número 879
Encontré un número par 880
Encontré un número 881
Encontré un número par 882
Encontré un número 883
Encontré un número par 884
Encontré un número 885
Encontré un número par 886
Encontré un número 887
Encontré un número par 888
Encontré un número 889
Encontré un número par 890
Encontré un número 891
Encontré un número par 892
Encontré un número 893
Encontré un número par 894
Encontré un número 895
Encontré un número par 896
Encontré un número 897
Encontré un número par 898
Encontré un número 899
Encontré un número par 900
Encontré un número 901
Encontré un número par 902
Encontré un número 903
Encontré un número par 904
Encontré un número 905
Encontré un número par 906
Encontré un número 907
Encontré un número par 908
Encontré un número 909
Encontré un número par 910
Encontré un número 911
Encontré un número par 912
Encontré un número 913
Encontré un número par 914
Encontré un número 915
Encontré un número par 916
Encontré un número 917
Encontré un número par 918
Encontré un número 919
Encontré un número par 920
Encontré un número 921
Encontré un número par 922
Encontré un número 923
Encontré un número par 924
Encontré un número 925
Encontré un número par 926
Encontré un número 927
Encontré un número par 928
Encontré un número 929
Encontré un número par 930
Encontré un número 931
Encontré un número par 932
Encontré un número 933
Encontré un número par 934
Encontré un número 935
Encontré un número par 936
Encontré un número 937
Encontré un número par 938
Encontré un número 939
Encontré un número par 940
Encontré un número 941
Encontré un número par 942
Encontré un número 943
Encontré un número par 944
Encontré un número 945
Encontré un número par 946
Encontré un número 947
Encontré un número par 948
Encontré un número 949
Encontré un número par 950
Encontré un número 951
Encontré un número par 952
Encontré un número 953
Encontré un número par 954
Encontré un número 955
Encontré un número par 956
Encontré un número 957
Encontré un número par 958
Encontré un número 959
Encontré un número par 960
Encontré un número 961
Encontré un número par 962
Encontré un número 963
Encontré un número par 964
Encontré un número 965
Encontré un número par 966
Encontré un número 967
Encontré un número par 968
Encontré un número 969
Encontré un número par 970
Encontré un número 971
Encontré un número par 972
Encontré un número 973
Encontré un número par 974
Encontré un número 975
Encontré un número par 976
Encontré un número 977
Encontré un número par 978
Encontré un número 979
Encontré un número par 980
Encontré un número 981
Encontré un número par 982
Encontré un número 983
Encontré un número par 984
Encontré un número 985
Encontré un número par 986
Encontré un número 987
Encontré un número par 988
Encontré un número 989
Encontré un número par 990
Encontré un número 991
Encontré un número par 992
Encontré un número 993
Encontré un número par 994
Encontré un número 995
Encontré un número par 996
Encontré un número 997
Encontré un número par 998
Encontré un número 999
Encontré un número par 1000
Encontré un número 1001
Encontré un número par 1002
Encontré un número 1003
Encontré un número par 1004
Encontré un número 1005
Encontré un número par 1006
Encontré un número 1007
Encontré un número par 1008
Encontré un número 1009
Encontré un número par 1010
Encontré un número 1011
Encontré un número par 1012
Encontré un número 1013
Encontré un número par 1014
Encontré un número 1015
Encontré un número par 1016
Encontré un número 1017
Encontré un número par 1018
Encontré un número 1019
Encontré un número par 1020
Encontré un número 1021
Encontré un número par 1022
Encontré un número 1023
Encontré un número par 1024
Encontré un número 1025
Encontré un número par 1026
Encontré un número 1027
Encontré un número par 1028
Encontré un número 1029
Encontré un número par 1030
Encontré un número 1031
Encontré un número par 1032
Encontré un número 1033
Encontré un número par 1034
Encontré un número 1035
Encontré un número par 1036
Encontré un número 1037
Encontré un número par 1038
Encontré un número 1039
Encontré un número par 1040
Encontré un número 1041
Encontré un número par 1042
Encontré un número 1043
Encontré un número par 1044
Encontré un número 1045
Encontré un número par 1046
Encontré un número 1047
Encontré un número par 1048
Encontré un número 1049
Encontré un número par 1050
Encontré un número 1051
Encontré un número par 1052
Encontré un número 1053
Encontré un número par 1054
Encontré un número 1055
Encontré un número par 1056
Encontré un número 1057
Encontré un número par 1058
Encontré un número 1059
Encontré un número par 1060
Encontré un número 1061
Encontré un número par 1062
Encontré un número 1063
Encontré un número par 1064
Encontré un número 1065
Encontré un número par 1066
Encontré un número 1067
Encontré un número par 1068
Encontré un número 1069
Encontré un número par 1070
Encontré un número 1071
Encontré un número par 1072
Encontré un número 1073
Encontré un número par 1074
Encontré un número 1075
Encontré un número par 1076
Encontré un número 1077
Encontré un número par 1078
Encontré un número 1079
Encontré un número par 1080
Encontré un número 1081
Encontré un número par 1082
Encontré un número 1083
Encontré un número par 1084
Encontré un número 1085
Encontré un número par 1086
Encontré un número 1087
Encontré un número par 1088
Encontré un número 1089
Encontré un número par 1090
Encontré un número 1091
Encontré un número par 1092
Encontré un número 1093
Encontré un número par 1094
Encontré un número 1095
Encontré un número par 1096
Encontré un número 1097
Encontré un número par 1098
Encontré un número 1099
Encontré un número par 1100
Encontré un número 1101
Encontré un número par 1102
Encontré un número 1103
Encontré un número par 1104
Encontré un número 1105
Encontré un número par 1106
Encontré un número 1107
Encontré un número par 1108
Encontré un número 1109
Encontré un número par 1110
Encontré un número 1111
Encontré un número par 1112
Encontré un número 1113
Encontré un número par 1114
Encontré un número 1115
Encontré un número par 1116
Encontré un número 1117
Encontré un número par 1118
Encontré un número 1119
Encontré un número par 1120
Encontré un número 1121
Encontré un número par 1122
Encontré un número 1123
Encontré un número par 1124
Encontré un número 1125
Encontré un número par 1126
Encontré un número 1127
Encontré un número par 1128
Encontré un número 1129
Encontré un número par 1130
Encontré un número 1131
Encontré un número par 1132
Encontré un número 1133
Encontré un número par 1134
Encontré un número 1135
Encontré un número par 1136
Encontré un número 1137
Encontré un número par 1138
Encontré un número 1139
Encontré un número par 1140
Encontré un número 1141
Encontré un número par 1142
Encontré un número 1143
Encontré un número par 1144
Encontré un número 1145
Encontré un número par 1146
Encontré un número 1147
Encontré un número par 1148
Encontré un número 1149
Encontré un número par 1150
Encontré un número 1151
Encontré un número par 1152
Encontré un número 1153
Encontré un número par 1154
Encontré un número 1155
Encontré un número par 1156
Encontré un número 1157
Encontré un número par 1158
Encontré un número 1159
Encontré un número par 1160
Encontré un número 1161
Encontré un número par 1162
Encontré un número 1163
Encontré un número par 1164
Encontré un número 1165
Encontré un número par 1166
Encontré un número 1167
Encontré un número par 1168
Encontré un número 1169
Encontré un número par 1170
Encontré un número 1171
Encontré un número par 1172
Encontré un número 1173
Encontré un número par 1174
Encontré un número 1175
Encontré un número par 1176
Encontré un número 1177
Encontré un número par 1178
Encontré un número 1179
Encontré un número par 1180
Encontré un número 1181
Encontré un número par 1182
Encontré un número 1183
Encontré un número par 1184
Encontré un número 1185
Encontré un número par 1186
Encontré un número 1187
Encontré un número par 1188
Encontré un número 1189
Encontré un número par 1190
Encontré un número 1191
Encontré un número par 1192
Encontré un número 1193
Encontré un número par 1194
Encontré un número 1195
Encontré un número par 1196
Encontré un número 1197
Encontré un número par 1198
Encontré un número 1199
Encontré un número par 1200
Encontré un número 1201
Encontré un número par 1202
Encontré un número 1203
Encontré un número par 1204
Encontré un número 1205
Encontré un número par 1206
Encontré un número 1207
Encontré un número par 1208
Encontré un número 1209
Encontré un número par 1210
Encontré un número 1211
Encontré un número par 1212
Encontré un número 1213
Encontré un número par 1214
Encontré un número 1215
Encontré un número par 1216
Encontré un número 1217
Encontré un número par 1218
Encontré un número 1219
Encontré un número par 1220
Encontré un número 1221
Encontré un número par 1222
Encontré un número 1223
Encontré un número par 1224
Encontré un número 1225
Encontré un número par 1226
Encontré un número 1227
Encontré un número par 1228
Encontré un número 1229
Encontré un número par 1230
Encontré un número 1231
Encontré un número par 1232
Encontré un número 1233
Encontré un número par 1234
Encontré un número 1235
Encontré un número par 1236
Encontré un número 1237
Encontré un número par 1238
Encontré un número 1239
Encontré un número par 1240
Encontré un número 1241
Encontré un número par 1242
Encontré un número 1243
Encontré un número par 1244
Encontré un número 1245
Encontré un número par 1246
Encontré un número 1247
Encontré un número par 1248
Encontré un número 1249
Encontré un número par 1250
Encontré un número 1251
Encontré un número par 1252
Encontré un número 1253
Encontré un número par 1254
Encontré un número 1255
Encontré un número par 1256
Encontré un número 1257
Encontré un número par 1258
Encontré un número 1259
Encontré un número par 1260
Encontré un número 1261
Encontré un número par 1262
Encontré un número 1263
Encontré un número par 1264
Encontré un número 1265
Encontré un número par 1266
Encontré un número 1267
Encontré un número par 1268
Encontré un número 1269
Encontré un número par 1270
Encontré un número 1271
Encontré un número par 1272
Encontré un número 1273
Encontré un número par 1274
Encontré un número 1275
Encontré un número par 1276
Encontré un número 1277
Encontré un número par 1278
Encontré un número 1279
Encontré un número par 1280
Encontré un número 1281
Encontré un número par 1282
Encontré un número 1283
Encontré un número par 1284
Encontré un número 1285
Encontré un número par 1286
Encontré un número 1287
Encontré un número par 1288
Encontré un número 1289
Encontré un número par 1290
Encontré un número 1291
Encontré un número par 1292
Encontré un número 1293
Encontré un número par 1294
Encontré un número 1295
Encontré un número par 1296
Encontré un número 1297
Encontré un número par 1298
Encontré un número 1299
Encontré un número par 1300
Encontré un número 1301
Encontré un número par 1302
Encontré un número 1303
Encontré un número par 1304
Encontré un número 1305
Encontré un número par 1306
Encontré un número 1307
Encontré un número par 1308
Encontré un número 1309
Encontré un número par 1310
Encontré un número 1311
Encontré un número par 1312
Encontré un número 1313
Encontré un número par 1314
Encontré un número 1315
Encontré un número par 1316
Encontré un número 1317
Encontré un número par 1318
Encontré un número 1319
Encontré un número par 1320
Encontré un número 1321
Encontré un número par 1322
Encontré un número 1323
Encontré un número par 1324
Encontré un número 1325
Encontré un número par 1326
Encontré un número 1327
Encontré un número par 1328
Encontré un número 1329
Encontré un número par 1330
Encontré un número 1331
Encontré un número par 1332
Encontré un número 1333
Encontré un número par 1334
Encontré un número 1335
Encontré un número par 1336
Encontré un número 1337
Encontré un número par 1338
Encontré un número 1339
Encontré un número par 1340
Encontré un número 1341
Encontré un número par 1342
Encontré un número 1343
Encontré un número par 1344
Encontré un número 1345

Encontré un número par 1346
Encontré un número 1347
Encontré un número par 1348
Encontré un número 1349
Encontré un número par 1350
Encontré un número 1351
Encontré un número par 1352
Encontré un número 1353
Encontré un número par 1354
Encontré un número 1355
Encontré un número par 1356
Encontré un número 1357
Encontré un número par 1358
Encontré un número 1359
Encontré un número par 1360
Encontré un número 1361
Encontré un número par 1362
Encontré un número 1363
Encontré un número par 1364
Encontré un número 1365
Encontré un número par 1366
Encontré un número 1367
Encontré un número par 1368
Encontré un número 1369
Encontré un número par 1370
Encontré un número 1371
Encontré un número par 1372
Encontré un número 1373
Encontré un número par 1374
Encontré un número 1375
Encontré un número par 1376
Encontré un número 1377
Encontré un número par 1378
Encontré un número 1379
Encontré un número par 1380
Encontré un número 1381
Encontré un número par 1382
Encontré un número 1383
Encontré un número par 1384
Encontré un número 1385
Encontré un número par 1386
Encontré un número 1387
Encontré un número par 1388
Encontré un número 1389
Encontré un número par 1390
Encontré un número 1391
Encontré un número par 1392
Encontré un número 1393
Encontré un número par 1394
Encontré un número 1395
Encontré un número par 1396
Encontré un número 1397
Encontré un número par 1398
Encontré un número 1399
Encontré un número par 1400
Encontré un número 1401
Encontré un número par 1402
Encontré un número 1403
Encontré un número par 1404
Encontré un número 1405
Encontré un número par 1406
Encontré un número 1407
Encontré un número par 1408
Encontré un número 1409
Encontré un número par 1410
Encontré un número 1411
Encontré un número par 1412
Encontré un número 1413
Encontré un número par 1414
Encontré un número 1415
Encontré un número par 1416
Encontré un número 1417
Encontré un número par 1418
Encontré un número 1419
Encontré un número par 1420
Encontré un número 1421
Encontré un número par 1422
Encontré un número 1423
Encontré un número par 1424
Encontré un número 1425
Encontré un número par 1426
Encontré un número 1427
Encontré un número par 1428
Encontré un número 1429
Encontré un número par 1430
Encontré un número 1431
Encontré un número par 1432
Encontré un número 1433
Encontré un número par 1434
Encontré un número 1435
Encontré un número par 1436
Encontré un número 1437
Encontré un número par 1438
Encontré un número 1439
Encontré un número par 1440
Encontré un número 1441
Encontré un número par 1442
Encontré un número 1443
Encontré un número par 1444
Encontré un número 1445
Encontré un número par 1446
Encontré un número 1447
Encontré un número par 1448
Encontré un número 1449
Encontré un número par 1450
Encontré un número 1451
Encontré un número par 1452
Encontré un número 1453
Encontré un número par 1454
Encontré un número 1455
Encontré un número par 1456
Encontré un número 1457
Encontré un número par 1458
Encontré un número 1459
Encontré un número par 1460
Encontré un número 1461
Encontré un número par 1462
Encontré un número 1463
Encontré un número par 1464
Encontré un número 1465
Encontré un número par 1466
Encontré un número 1467
Encontré un número par 1468
Encontré un número 1469
Encontré un número par 1470
Encontré un número 1471
Encontré un número par 1472
Encontré un número 1473
Encontré un número par 1474
Encontré un número 1475
Encontré un número par 1476
Encontré un número 1477
Encontré un número par 1478
Encontré un número 1479
Encontré un número par 1480
Encontré un número 1481
Encontré un número par 1482
Encontré un número 1483
Encontré un número par 1484
Encontré un número 1485
Encontré un número par 1486
Encontré un número 1487
Encontré un número par 1488
Encontré un número 1489
Encontré un número par 1490
Encontré un número 1491
Encontré un número par 1492
Encontré un número 1493
Encontré un número par 1494
Encontré un número 1495
Encontré un número par 1496
Encontré un número 1497
Encontré un número par 1498
Encontré un número 1499
Encontré un número par 1500
Encontré un número 1501
Encontré un número par 1502
Encontré un número 1503
Encontré un número par 1504
Encontré un número 1505
Encontré un número par 1506
Encontré un número 1507
Encontré un número par 1508
Encontré un número 1509
Encontré un número par 1510
Encontré un número 1511
Encontré un número par 1512
Encontré un número 1513
Encontré un número par 1514
Encontré un número 1515
Encontré un número par 1516
Encontré un número 1517
Encontré un número par 1518
Encontré un número 1519
Encontré un número par 1520
Encontré un número 1521
Encontré un número par 1522
Encontré un número 1523
Encontré un número par 1524
Encontré un número 1525
Encontré un número par 1526
Encontré un número 1527
Encontré un número par 1528
Encontré un número 1529
Encontré un número par 1530
Encontré un número 1531
Encontré un número par 1532
Encontré un número 1533
Encontré un número par 1534
Encontré un número 1535
Encontré un número par 1536
Encontré un número 1537
Encontré un número par 1538
Encontré un número 1539
Encontré un número par 1540
Encontré un número 1541
Encontré un número par 1542
Encontré un número 1543
Encontré un número par 1544
Encontré un número 1545
Encontré un número par 1546
Encontré un número 1547
Encontré un número par 1548
Encontré un número 1549
Encontré un número par 1550
Encontré un número 1551
Encontré un número par 1552
Encontré un número 1553
Encontré un número par 1554
Encontré un número 1555
Encontré un número par 1556
Encontré un número 1557
Encontré un número par 1558
Encontré un número 1559
Encontré un número par 1560
Encontré un número 1561
Encontré un número par 1562
Encontré un número 1563
Encontré un número par 1564
Encontré un número 1565
Encontré un número par 1566
Encontré un número 1567
Encontré un número par 1568
Encontré un número 1569
Encontré un número par 1570
Encontré un número 1571
Encontré un número par 1572
Encontré un número 1573
Encontré un número par 1574
Encontré un número 1575
Encontré un número par 1576
Encontré un número 1577
Encontré un número par 1578
Encontré un número 1579
Encontré un número par 1580
Encontré un número 1581
Encontré un número par 1582
Encontré un número 1583
Encontré un número par 1584
Encontré un número 1585
Encontré un número par 1586
Encontré un número 1587
Encontré un número par 1588
Encontré un número 1589
Encontré un número par 1590
Encontré un número 1591
Encontré un número par 1592
Encontré un número 1593
Encontré un número par 1594
Encontré un número 1595
Encontré un número par 1596
Encontré un número 1597
Encontré un número par 1598
Encontré un número 1599
Encontré un número par 1600
Encontré un número 1601
Encontré un número par 1602
Encontré un número 1603
Encontré un número par 1604
Encontré un número 1605
Encontré un número par 1606
Encontré un número 1607
Encontré un número par 1608
Encontré un número 1609
Encontré un número par 1610
Encontré un número 1611
Encontré un número par 1612
Encontré un número 1613
Encontré un número par 1614
Encontré un número 1615
Encontré un número par 1616
Encontré un número 1617
Encontré un número par 1618
Encontré un número 1619
Encontré un número par 1620
Encontré un número 1621
Encontré un número par 1622
Encontré un número 1623
Encontré un número par 1624
Encontré un número 1625
Encontré un número par 1626
Encontré un número 1627
Encontré un número par 1628
Encontré un número 1629
Encontré un número par 1630
Encontré un número 1631
Encontré un número par 1632
Encontré un número 1633
Encontré un número par 1634
Encontré un número 1635
Encontré un número par 1636
Encontré un número 1637
Encontré un número par 1638
Encontré un número 1639
Encontré un número par 1640
Encontré un número 1641
Encontré un número par 1642
Encontré un número 1643
Encontré un número par 1644
Encontré un número 1645
Encontré un número par 1646
Encontré un número 1647
Encontré un número par 1648
Encontré un número 1649
Encontré un número par 1650
Encontré un número 1651
Encontré un número par 1652
Encontré un número 1653
Encontré un número par 1654
Encontré un número 1655
Encontré un número par 1656
Encontré un número 1657
Encontré un número par 1658
Encontré un número 1659
Encontré un número par 1660
Encontré un número 1661
Encontré un número par 1662
Encontré un número 1663
Encontré un número par 1664
Encontré un número 1665
Encontré un número par 1666
Encontré un número 1667
Encontré un número par 1668
Encontré un número 1669
Encontré un número par 1670
Encontré un número 1671
Encontré un número par 1672
Encontré un número 1673
Encontré un número par 1674
Encontré un número 1675
Encontré un número par 1676
Encontré un número 1677
Encontré un número par 1678
Encontré un número 1679
Encontré un número par 1680
Encontré un número 1681
Encontré un número par 1682
Encontré un número 1683
Encontré un número par 1684
Encontré un número 1685
Encontré un número par 1686
Encontré un número 1687
Encontré un número par 1688
Encontré un número 1689
Encontré un número par 1690
Encontré un número 1691
Encontré un número par 1692
Encontré un número 1693
Encontré un número par 1694
Encontré un número 1695
Encontré un número par 1696
Encontré un número 1697
Encontré un número par 1698
Encontré un número 1699
Encontré un número par 1700
Encontré un número 1701
Encontré un número par 1702
Encontré un número 1703
Encontré un número par 1704
Encontré un número 1705
Encontré un número par 1706
Encontré un número 1707
Encontré un número par 1708
Encontré un número 1709
Encontré un número par 1710
Encontré un número 1711
Encontré un número par 1712
Encontré un número 1713
Encontré un número par 1714
Encontré un número 1715
Encontré un número par 1716
Encontré un número 1717
Encontré un número par 1718
Encontré un número 1719
Encontré un número par 1720
Encontré un número 1721
Encontré un número par 1722
Encontré un número 1723
Encontré un número par 1724
Encontré un número 1725
Encontré un número par 1726
Encontré un número 1727
Encontré un número par 1728
Encontré un número 1729
Encontré un número par 1730
Encontré un número 1731
Encontré un número par 1732
Encontré un número 1733
Encontré un número par 1734
Encontré un número 1735
Encontré un número par 1736
Encontré un número 1737
Encontré un número par 1738
Encontré un número 1739
Encontré un número par 1740
Encontré un número 1741
Encontré un número par 1742
Encontré un número 1743
Encontré un número par 1744
Encontré un número 1745
Encontré un número par 1746
Encontré un número 1747
Encontré un número par 1748
Encontré un número 1749
Encontré un número par 1750
Encontré un número 1751
Encontré un número par 1752
Encontré un número 1753
Encontré un número par 1754
Encontré un número 1755
Encontré un número par 1756
Encontré un número 1757
Encontré un número par 1758
Encontré un número 1759
Encontré un número par 1760
Encontré un número 1761
Encontré un número par 1762
Encontré un número 1763
Encontré un número par 1764

<hr>
<h2 style="color:#30B2FA">La sentencia pass</h2>
<p>La sentencia pass no hace nada. Se puede usar cuando una sentencia es requerida por la sintáxis pero el programa no
requiere ninguna acción. Por ejemplo:</p>

In [274]:
while True:
  pass # Espera ocupada hasta una interrupción de teclado (Ctrl+C)

KeyboardInterrupt:

<p>Se usa normalmente para crear clases en su mínima expresión:</p>

In [ ]:
class MyEmptyClass:
  pass

<p>Otro lugar donde se puede usar pass es como una marca de lugar para una función o un cuerpo condicional cuando estás
trabajando en código nuevo, lo cual te permite pensar a un nivel de abstracción mayor. El pass se ignora silenciosamente:</p>

In [ ]:
def initlog(*args):
  pass # Acordate de implementar esto!

<hr>
<h2 style="color:#30B2FA">Definiendo funciones </h2>
<p>Podemos crear una función que escriba la serie de Fibonacci hasta un límite determinado:</p>

In [275]:
def fib(n): # escribe la serie de Fibonacci hasta n
  """Escribe la serie de Fibonacci hasta n."""
  a, b = 0, 1
  while a < n:
    print(a, end=' ')
    a, b = b, a+b
  print()
# Ahora llamamos a la funcion que acabamos de definir:
fib(2030)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [276]:
fib
f = fib
f(125)

0 1 1 2 3 5 8 13 21 34 55 89

<p>Viniendo de otros lenguajes, podemos objetar que fib no es una función, sino un procedimiento, porque no devuelve un valor.
Entonces, técnicamente hablando, los procedimientos sí retornan un valor, aunque uno aburrido. Este valor se llama None. </p>

In [277]:
fib(0)
print(fib(0))

None

<p>Es simple escribir una función que retorne una lista con los números de la serie de Fibonacci en lugar de imprimirlos:</p>

In [278]:
def fib2(n): # devuelve la serie de Fibonacci hasta n
  """Devuelve una lista conteniendo la serie de Fibonacci hasta n."""
  result = []
  a, b = 0, 1
  while a < n:
    result.append(a) # ver abajo
    a, b = b, a+b
  return result
f100 = fib2(150) # llamarla
f100 # escribir el resultado

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

<p>Este ejemplo, como es usual, demuestra algunas características más de Python:</p>

* La sentencia return devuelve un valor en una función. return sin una expresión como argumento retorna None. Si
se alcanza el final de una función, también se retorna None.
* La sentencia result.append(a) llama a un método del objeto lista result. Un método es una función que
'pertenece' a un objeto y se nombra obj.methodname, dónde obj es algún objeto (puede ser una expresión), y
methodname es el nombre del método que está definido por el tipo del objeto.

<hr>
<h2 style="color:#30B2FA">Más sobre definición de funciones</h2>
<p>También es posible definir funciones con un número variable de argumentos. Hay tres formas que pueden ser combinadas.</p>
<h2>Argumentos con valores por omisión</h2>
<p>La forma más útil es especificar un valor por omisión para uno o más argumentos. Esto crea una función que puede ser
llamada con menos argumentos que los que permite. Por ejemplo:
</p>

In [279]:
def pedir_confirmacion(prompt, reintentos=4, queja='Si o no, por favor!'):
  while True:
    ok = input(prompt)
    if ok in ('s', 'S', 'si', 'Si', 'SI'):
      return True
    if ok in ('n', 'no', 'No', 'NO'):
      return False
    reintentos = reintentos - 1
    if reintentos < 0:
      raise IOError('usuario duro')
    print(queja)

<p>El ejemplo también introduce la palabra reservada in, la cual prueba si una secuencia contiene o no un determinado
valor.
Los valores por omisión son evaluados en el momento de la definición de la función, en el ámbito de la definición, entonces:
</p>

In [280]:
i = 6
def f(arg=i):
 print(arg)
i = 7
f()

6

<p>El valor por omisión es evaluado solo una vez. Existe una diferencia cuando el valor por omisión
es un objeto mutable como una lista, diccionario, o instancia de la mayoría de las clases.</p>

In [281]:
def f(a, L=[]):
 L.append(a)
 return L
print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

<hr>
<h2 style="color:#30B2FA">Palabras claves como argumentos </h2>
<p>Las funciones también puede ser llamadas usando argumentos de palabras clave de la forma
keyword = value. Por ejemplo, la siguiente función:</p>

In [282]:
def loro(tension, estado='muerto', accion='explotar', tipo='Cotorro'):
 print("-- Este loro no va a", accion, end=' ')
 print("si le aplicás", tension, "wats.")
 print("-- Gran pico tiene el", tipo)
 print("-- Está", estado, "!")

<p>...acepta un argumento obligatorio (tension) y tres argumentos opcionales (estado, accion, y tipo). Esta función puede
llamarse de cualquiera de las siguientes maneras:
</p>

In [283]:
loro(2000) # 1 argumento posicional
loro(tension=2000) # 1 argumento nombrado
loro(tension=2000000, accion='VOOOOOM') # 2 argumentos nombrados
loro(accion='VOOOOOM', tension=2000000) # 2 argumentos nombrados
loro('un millón', 'muerto', 'saltar') # 3 args posicionales

-- Este loro no va a explotar si le aplicás 2000 wats.
-- Gran pico tiene el Cotorro
-- Está muerto !
-- Este loro no va a explotar si le aplicás 2000 wats.
-- Gran pico tiene el Cotorro
-- Está muerto !
-- Este loro no va a VOOOOOM si le aplicás 2000000 wats.
-- Gran pico tiene el Cotorro
-- Está muerto !
-- Este loro no va a VOOOOOM si le aplicás 2000000 wats.
-- Gran pico tiene el Cotorro
-- Está muerto !
-- Este loro no va a saltar si le aplicás un millón wats.
-- Gran pico tiene el Cotorro
-- Está muerto !

<p>Cuando un parámetro formal de la forma nombre está presente al final, recibe un diccionario
conteniendo todos los argumentos nombrados excepto aquellos correspondientes a un parámetro formal.</p>

In [284]:
def ventadequeso(tipo, *argumentos, **palabrasclaves):
  print("-- ¿Cuenta", tipo, "?")
  print("-- Lo siento, nos quedamos sin", tipo)
  for arg in argumentos:
    print(arg)
  print("-" * 40)
  claves = sorted(palabrasclaves.keys())
  for c in claves:
    print(c, ":", palabrasclaves[c])

In [285]:
ventadequeso("Limburger", "Es muy seco, sr.",
 "Realmente es muy muy seco, sr.",
 cliente="Abraham Flores",
 vendedor="Gerardo Martínez",
 puesto="Venta de Queso Oaxaca")

-- ¿Cuenta Limburger ?
-- Lo siento, nos quedamos sin Limburger
Es muy seco, sr.
Realmente es muy muy seco, sr.
----------------------------------------
cliente : Abraham Flores
puesto : Venta de Queso Oaxaca
vendedor : Gerardo Martínez

<hr>
<h2 style="color:#30B2FA">Listas de argumentos arbitrarios </h2>
<p>Finalmente, la opción menos frecuentemente usada es especificar que una función puede ser llamada con un número
arbitrario de argumentos. Estos argumentos serán organizados en una tupla. Antes del número
variable de argumentos, cero o más argumentos normales pueden estar presentes.:
</p>

In [286]:
def muchos_items(archivo, separador, *args):
 archivo.write(separador.join(args))

<p>Normalmente estos argumentos de cantidad variables son los últimos en la lista de parámetros formales, porque toman todo
el remanente de argumentos que se pasan a la función. Cualquier parámetro que suceda luego del *args será 'sólo
nombrado', o sea que sólo se pueden usar como nombrados y no posicionales.:</p>

In [287]:
def concatenar(*args, sep="/"):
  return sep.join(args)

In [288]:
concatenar("jupiter", "tierra", "neptuno")

'jupiter/tierra/neptuno'

In [289]:
concatenar("jupiter", "tierra", "neptuno", sep=".")

'jupiter.tierra.neptuno'

<hr>
<h2 style="color:#30B2FA">Desempaquetando una lista de argumentos</h2>
<p>La situación inversa ocurre cuando los argumentos ya están en una lista o tupla pero necesitan ser desempaquetados para
llamar a una función que requiere argumentos posicionales separados. </p>

In [290]:
list(range(6, 12)) # llamada normal con argumentos separados

[6, 7, 8, 9, 10, 11]

In [291]:
args = [6, 12]
list(range(*args)) # llamada con argumentos desempaquetados de la lista

[6, 7, 8, 9, 10, 11]

<p>Del mismo modo, los diccionarios pueden entregar argumentos nombrados con el operador **::</p>

In [292]:
def loro(tension, estado='rostizado', accion='explotar'):
  print("-- Este loro no va a", accion, end=' ')
  print("si le aplicás", tension, "wats.", end=' ')
  print("Está", estado, "!")
d = {"tension": "un mil", "estado": "acabado",
"accion": "VOLAR"}
loro(**d)

-- Este loro no va a VOLAR si le aplicás un mil wats. Está acabado !